<div [formGroup]="draftSntForm">
    <h3>{{sntSectionsNames.sectionc}}</h3>
    <table role="presentation" formGroupName="customer">
      <tbody>
        <tr>
          <td>22. ИИН/БИН*</td>
          <td>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>ИИН/БИН</mat-label>
              <input
                matInput type="text"
                (keyup)="sntSearchParticipant.participantTinSource.next($any($event.target).value);"
                (change)="onCustomerTinChanging($any($event.target).value)"
                placeholder="ИИН/БИН"
                formControlName="tin"
                [matAutocomplete]="autoTin"/>
              <mat-autocomplete #autoTin="matAutocomplete"
                                (optionSelected)="onParticipantSelectedByTin($event.option.value);">
                <mat-option disabled class="loading" *ngIf="sntSearchParticipant.searchingParticipantByTin">
                  <mat-spinner diameter="35"></mat-spinner>
                </mat-option>
                <mat-option [value]="participantByTin" *ngIf="participantByTin">
                  {{participantByTin.tin}} {{participantByTin.name}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="draftSntForm.get('customer.tin').hasError('required')">
                Поля является обязательным для заполнения
              </mat-error>
              <mat-error *ngIf="
                !draftSntForm.get('customer.nonResident').value &&
                (draftSntForm.get('customer.tin').hasError('minlength') || draftSntForm.get('customer.tin').hasError('maxlength'))">
                ИИН/БИН получателя должен быть 12 символов
              </mat-error>
              <mat-error *ngIf="
                draftSntForm.get('customer.nonResident').value &&
                (draftSntForm.get('customer.tin').hasError('minlength') || draftSntForm.get('customer.tin').hasError('maxlength'))">
                Количество чисел должно быть между 1 и 50
              </mat-error>
              <mat-error *ngIf="draftSntForm.get('customer.tin').hasError('pattern')">
                Надо только ввести числа
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>22.1. Нерезидент</td>
          <td class="with-checkbox">
            <mat-checkbox formControlName="nonResident" (change)="onCustomerNonResidentChange($event.checked)"></mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>23. Наименование получателя*</td>
          <td>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Наименование получателя</mat-label>
              <textarea
                matInput rows="3"
                type="text"
                placeholder="Наименование получателя"
                (keyup)="sntSearchParticipant.participantNameSource.next($any($event.target).value);"
                (change)="onCustomerNameChanging($any($event.target).value)"
                formControlName="name"
                [matAutocomplete]="autoName">  >
              </textarea>
              <mat-autocomplete #autoName="matAutocomplete" (optionSelected)="onParticipantSelectedByName($event.option.value);">
                <mat-option disabled class="loading" *ngIf="sntSearchParticipant.searchingParticipantsByName">
                  <mat-spinner diameter="35"></mat-spinner>
                </mat-option>
                <mat-option *ngFor="let customer of participantsByName" [value]="customer">
                  {{customer.tin}} {{customer.name}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="draftSntForm.get('customer.name').hasError('required')">
                Наименование получателя отсутствует
              </mat-error>
              <mat-error *ngIf="draftSntForm.get('customer.name').hasError('minlength') && !draftSntForm.get('customer.name').hasError('required')">
                Поле 'Наименование получателя' должно содержать от 3 до 450 символов
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>24. БИН структурного подразделения*</td>
          <td>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>БИН структурного подразделения</mat-label>
              <input matInput type="text" placeholder="БИН структурного подразделения" formControlName="branchTin"/>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>25. БИН реорганизованного лица</td>
          <td>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>БИН реорганизованного лица</mat-label>
              <input matInput type="text" placeholder="БИН реорганизованного лица" formControlName="reorganizedTin"/>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>27. Код страны регистрации получателя*</td>
          <td>
            <mat-form-field class="form-field" appearance="outline">
              <app-auto-complete-search-country
                [countrySearchAmount]="0"
                formControlName="registerCountryCode"
              ></app-auto-complete-search-country>
              <mat-error *ngIf="draftSntForm.get('customer.registerCountryCode').hasError('required')">
                27 Код страны регистрации получателя отсутствует
              </mat-error>
              <mat-error *ngIf="draftSntForm.get('customer.registerCountryCode').hasError('registerCountryCodeMustBeKZ')">
                Страна регистрации получателя равна значению «Казахстан», в то время как отмечено поле «22.1 Нерезидент»
              </mat-error>
              <mat-error *ngIf="draftSntForm.get('customer.registerCountryCode').hasError('notEqualToEAES')">
                Страна регистрации получателя получателя должно быть из ЕАЭС
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>28. Код страны доставки/поставки*</td>
          <td style="height:auto">
            <mat-form-field class="form-field" appearance="outline">
              <app-auto-complete-search-country
                (onSelectedEmitter)="onCountryCodeChanging($event)"
                [countrySearchAmount]="1"
                formControlName="countryCode"
              ></app-auto-complete-search-country>
              <mat-error *ngIf="draftSntForm.get('customer.countryCode').hasError('required')">
                Поле 'Код страны доставки/поставки' отсутствует
              </mat-error>
              <mat-error *ngIf="draftSntForm.get('customer.countryCode').hasError('equalToKZ')">
                Страна доставки/поставки получателя не должно быть равно значению «Казахстан»
              </mat-error>
              <mat-error *ngIf="draftSntForm.get('customer.countryCode').hasError('notEqualToEAES')">
                Страна доставки/поставки получателя должно быть из ЕАЭС
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr >
          <td>29. Фактический адрес доставки/поставки*</td>
          <td>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Фактический адрес отправки/отгрузки</mat-label>
              <textarea matInput type="text" placeholder="Фактический адрес отправки/отгрузки" formControlName="actualAddress"></textarea>
              <mat-error *ngIf="draftSntForm.get('customer.actualAddress').hasError('required')">
                Поле 'Фактический адрес доставки/поставки' отсутствует
              </mat-error>
              <mat-error
              *ngIf="draftSntForm.get('customer.actualAddress').hasError('minlength') && !draftSntForm.get('customer.actualAddress').hasError('required')">
              Поле 'Фактический адрес отправки/отгрузки' должно содержать от 3 до 450 символов
            </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>30. Идентификатор склада доставки/поставки</td>
          <td>
            <mat-form-field class="form-field" appearance="outline">
              <mat-select formControlName="taxpayerStoreId">
                <mat-option *ngFor="let warehouse of customerWarehouses" [value]="warehouse.id">
                  {{warehouse.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="draftSntForm.get('customer.taxpayerStoreId').hasError('required')">
                ID склада доставки/поставки отсутствует
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </tbody>
    </table>
</div>
