.form-field{
    width: 80%;
  }
  .picker{
    height: 50px;
    color: white;
    background: #0282A0;
  }
  td{
    margin-top: 5px;
  }
  td.dynamic-table {
    padding: 0px !important;
  }
  .mat-form-field-infix {
    width: 10% !important;
  }
  
  .row-value{
    text-align: center;
  }
  .mat-form-field{
    width: 100%;
  }
  
  td:nth-child(1){
    width: 400px;
  }
  
  td:nth-child(2){
    width: 600px;
  
    .mat-form-field {
      width: 100%;
    }
  }
  
  .custom-error {
    padding: 0 1em;
    font-size: 75%;
    color: #f44336;
  }
  
  .form-field-with-custom-error {
    margin-bottom: -1.25em
  }
  
  h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 56px;
    display: flex;
    align-items: center;
    color: #015467;
  }
  
  .with-checkbox{
    padding: 0px 0px 0px 5px;
  }

  .mat-mdc-form-field {
    margin: 0px 5px !important;
    display: block !important;
    width: 100% !important;
  }