<div class="alert alert-info" role="alert">
  <p>Retrieve user information using the Microsoft Graph API with specified properties.</p>
</div>

<div class="result">
  <button class="button small" (click)="tryGetMsGraphData()">
    Try getUserPropertiesFromMsGraph()
  </button>
  <p><strong>⚙️Method: </strong><code>getUserPropertiesFromMsGraph()</code></p>
  <p><strong>🔁Return: </strong><code>string[] or null</code></p>
  <p><strong>🎯Result: </strong></p>
  @if (loading) {
  <p><strong>⏳Loading...</strong></p>
  } @else if (graphProperties) {
  <code><p>MS Graph Properties:</p></code>
  <pre><code>{{ graphProperties | json }}</code></pre>
  } @else {
  <code>null</code>
  }
</div>
<div class="result">
  <strong>Related CDAS wiki: </strong>

  <ul class="arrows-after">
    <li>
      <a
        [href]="externalLinks['msGraph'].url"
        target="_blank"
        rel="noopener noreferrer"
        >{{ externalLinks["msGraph"].text }}</a
      >
    </li>
  </ul>
</div>
