#regNumber {
  min-width: 313px !important;
}

#table-forms {
  max-height: 700px;
  overflow: auto;
  padding-top: 0px !important;
}
#buttons-pagination {
  justify-content: space-between;
  margin-left: 0px !important;
  margin-right: 0px !important;
  background-color: #ffffff !important;
}
th,
td,
th.mat-header-cell {
  text-align: center;
}

:host ::ng-deep.mat-paginator .mat-form-field-underline {
  display: none;
}

.mat-mdc-table tbody,
.mat-mdc-cell,
.mat-mdc-row {
  background: #ffffff !important;
}
