<div class="row">
  <div class="col">
    <app-form-filters
      #formFilters
      (formFilterEvent)="filterForms($event)"
    ></app-form-filters>
  </div>
</div>
<div class="row" id="buttons-pagination">
  <div>
  <button mat-raised-button [routerLink]="['/forms/new']" class="primary-color mb-2 mt-2 mr-1">
    Создать форму
  </button>
  <button #importButton *ngIf="hasAccess(formAccessControlList.get('import'))" mat-raised-button (click)="checkAuthAndProceed()"
    class="primary-color mb-2 mt-2 mr-1">
    Обновить данные
  </button> 
  <button
    *ngIf="(!(dataSource.loading | async) && !isAllSelected() && selection.selected.length < 1) && hasAccess(formAccessControlList.get('form_report'))"
    class="primary-color ml-1" mat-raised-button [disabled]="loadingReport" (click)="onGetFormReport()">
    <div *ngIf="loadingReport" class="spinner-border spinner-border-sm"></div>
    Экспорт журнала
  </button>
  <ng-container *ngIf="selection.selected.length == 1">
    <button class="primary-color mr-1" mat-raised-button type="button" (click)="showForm()">
      Открыть
    </button>
    <button *ngIf="isEditButtonEnabled" class="primary-color" mat-raised-button type="button" (click)="editForm()">
      Редактировать
    </button>
  </ng-container>
</div>
<div>
  <mat-paginator [length]="resultsLength" [pageSize]="15" [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="true">
  </mat-paginator>
</div>
</div>
<div class="row" id="table-forms">
  <div class="col">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      aria-label="forms"
    >
      <ng-container matColumnDef="select">
        <th scope="col" mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"            
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="number">
        <th mat-header-cell scope="col" *matHeaderCellDef>Номер</th>
        <td mat-cell *matCellDef="let element">{{ element.number }}</td>
      </ng-container>

      <ng-container matColumnDef="registrationNumber">
        <th mat-header-cell scope="col" id="regNumber" *matHeaderCellDef>
          Регистрационный номер
        </th>
        <td mat-cell id="regNumber" *matCellDef="let element">
          {{ element.registrationNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell scope="col" *matHeaderCellDef>Наименование ГСВС</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell scope="col" *matHeaderCellDef>Дата</th>
        <td mat-cell *matCellDef="let element">
          {{ element.date.toLocaleDateString() }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell scope="col" *matHeaderCellDef>Тип формы</th>
        <td mat-cell *matCellDef="let element">{{ FormType[element.type] }}</td>
      </ng-container>

      <ng-container matColumnDef="senderTin">
        <th mat-header-cell scope="col" *matHeaderCellDef>БИН отправителя</th>
        <td mat-cell *matCellDef="let element">{{ element.senderTin }}</td>
      </ng-container>

      <ng-container matColumnDef="recipientTin">
        <th mat-header-cell scope="col" *matHeaderCellDef>БИН получателя</th>
        <td mat-cell *matCellDef="let element">{{ element.recipientTin }}</td>
      </ng-container>

      <ng-container matColumnDef="totalSum">
        <th mat-header-cell scope="col" *matHeaderCellDef>Общая сумма</th>
        <td mat-cell *matCellDef="let element">{{ element.totalSum }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell scope="col" *matHeaderCellDef>Статус</th>
        <td mat-cell *matCellDef="let element">{{ FormStatus[element.status] }}</td>
      </ng-container>

      <ng-container matColumnDef="cancelReason">
        <th mat-header-cell scope="col" *matHeaderCellDef>Причина ошибки</th>
        <td mat-cell *matCellDef="let element">{{ element.cancelReason }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [hidden]="dataSource.loading | async"
      ></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          Нет совпадений по заданному фильтру.
        </td>
      </tr>
    </table>
  </div>
</div>

<app-loading *ngIf="dataSource.loading | async" [widthPx]="100"></app-loading>
