<div class="container-fluid profile">
  <h2 class="font-weight-bold">{{user.name|uppercase}}</h2>

  <mat-tab-group>
    <mat-tab label="ПРОФИЛЬ">
      <h3 class="font-weight-bold mt-3">МОИ РЕКВИЗИТЫ</h3>

      <mat-card style="max-width:700px">
        <mat-card-content>
          <div class="row">
            <div class="col-11">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>ЛОГИН (ИИН)</mat-label>
                <input matInput [(ngModel)]="login.value">
              </mat-form-field>
            </div>
            <div class="col-1 d-flex align-items-center">
              <mat-icon *ngIf="login.completed && !login.saving" class="align-middle pull-right">done</mat-icon>

              <div class="d-flex justify-content-center" *ngIf="login.saving || isLoadingProfile">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>

            </div>

          </div>
          <div class="row mt-2">
            <div class="col-11">
              <app-show-hide-password [(ngModel)]="password.value" label="ПАРОЛЬ (ИС ЭСФ)"></app-show-hide-password>
            </div>
            <div class="col-1 d-flex align-items-center">
              <mat-icon *ngIf="password.completed && !password.saving" class="align-middle pull-right">done</mat-icon>

              <div class="d-flex justify-content-center" *ngIf="password.saving || isLoadingProfile">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <div *ngIf="hasAccessToManageCertificates">
        <h3 class="mt-3 font-weight-bold">МОИ СЕРТИФИКАТЫ</h3>
        <mat-radio-group class="radio-group-certifacte-type" [(ngModel)]="isGostCertificate">
          <mat-radio-button color="primary" class="radio-button-certifacte-type primary-color" [value]="false">Разные
            сертификаты для входа и подписи</mat-radio-button>
          <mat-radio-button color="primary" class="radio-button-certifacte-type primary-color" [value]="true">Единый
            сертификат для входа и подписи</mat-radio-button>
        </mat-radio-group>
        <mat-card style="max-width:700px">
          <mat-card-content>
            <div *ngIf="!isGostCertificate">
              <div class="row" *ngIf="!authCertificate.renewing">
                <div class="col-11">
                  <span>СЕРТИФИКАТ ДЛЯ ВХОДА (ЭЦП)</span>
                  <button type="submit" [disabled]="isSubmitButtonDisabled" *ngIf="!authCertificate.renewing"
                    (click)="authCertificate.renewing=true" mat-raised-button
                    class="d-block mt-2">{{authCertificate.completed ? 'ОБНОВИТЬ' : 'ДОБАВИТЬ'}}</button>
                </div>
                <div class="col-1 d-flex align-items-center">
                  <mat-icon *ngIf="authCertificate.completed && !authCertificate.saving"
                    class="align-middle pull-right">done</mat-icon>
                  <div class="d-flex justify-content-center" *ngIf="authCertificate.saving || isLoadingProfile">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>

                </div>
              </div>

              <div class="row" *ngIf="authCertificate.renewing">
                <div class="col d-flex align-items-center">
                  <button *ngIf="!authCertificate.file" (click)="authFileInput.click()" class="mat-raised-button">
                    <span>Выбрать файл</span>
                    <input #authFileInput type="file" (change)="authCertificateFileChanged($event)"
                      style="display:none;" />
                  </button>

                  <mat-form-field *ngIf="authCertificate.file">
                    <input matInput type="text" value="{{authCertificate.file.fileName}}">
                    <button mat-button matSuffix mat-icon-button aria-label="Clear"
                      (click)="authCertificate.file=null; authCertificate.renewing=false;">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="ml-auto w-50 pull-right">
                    <mat-label>ПАРОЛЬ ДЛЯ СЕРТИФИКАТА</mat-label>
                    <input type="password" [required]="authCertificate.file" matInput
                      [(ngModel)]="authCertificate.password">
                  </mat-form-field>
                </div>
              </div>

              <div class="row mt-2" *ngIf="!signCertificate.renewing">
                <div class="col-11">
                  <span>СЕРТИФИКАТ ДЛЯ ПОДПИСИ (ЭЦП)</span>
                  <button type="submit" [disabled]="isSubmitButtonDisabled" *ngIf="!signCertificate.renewing"
                    (click)="signCertificate.renewing=true" mat-raised-button
                    class="d-block mt-2">{{signCertificate.completed ? 'ОБНОВИТЬ' : 'ДОБАВИТЬ'}}</button>
                </div>
                <div class="col-1 d-flex align-items-center">
                  <mat-icon *ngIf="signCertificate.completed && !signCertificate.saving"
                    class="align-middle pull-right">done</mat-icon>
                  <div class="d-flex justify-content-center" *ngIf="signCertificate.saving || isLoadingProfile">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-2" *ngIf="signCertificate.renewing">
                <div class="col d-flex align-items-center">
                  <button *ngIf="!signCertificate.file" (click)="signFileInput.click()" class="mat-raised-button">
                    <span>Выбрать файл</span>
                    <input #signFileInput type="file" (change)="signCertificateFileChanged($event)"
                      style="display:none;" />
                  </button>

                  <mat-form-field *ngIf="signCertificate.file">
                    <input matInput type="text" value="{{signCertificate.file.fileName}}">
                    <button mat-button matSuffix mat-icon-button aria-label="Clear"
                      (click)="signCertificate.file=null; signCertificate.renewing=false;">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="ml-auto w-50 pull-right">
                    <mat-label>ПАРОЛЬ ДЛЯ СЕРТИФИКАТА</mat-label>
                    <input type="password" [required]="signCertificate.file" matInput
                      [(ngModel)]="signCertificate.password">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div *ngIf="isGostCertificate">
              <div class="row" *ngIf="!gostCertificate.renewing">
                <div class="col-11">
                  <span>СЕРТИФИКАТ ДЛЯ ВХОДА И ПОДПИСИ (ЭЦП)</span>
                  <button type="submit" [disabled]="isSubmitButtonDisabled" *ngIf="!gostCertificate.renewing"
                    (click)="gostCertificate.renewing=true" mat-raised-button
                    class="d-block mt-2">{{gostCertificate.completed ? 'ОБНОВИТЬ' : 'ДОБАВИТЬ'}}</button>
                </div>
                <div class="col-1 d-flex align-items-center">
                  <mat-icon *ngIf="gostCertificate.completed && !gostCertificate.saving"
                    class="align-middle pull-right">done</mat-icon>
                  <div class="d-flex justify-content-center" *ngIf="gostCertificate.saving || isLoadingProfile">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>

                </div>
              </div>

              <div class="row" *ngIf="gostCertificate.renewing">
                <div class="col d-flex align-items-center">
                  <button *ngIf="!gostCertificate.file" (click)="gostFileInput.click()" class="mat-raised-button">
                    <span>Выбрать файл</span>
                    <input #gostFileInput type="file" (change)="gostCertificateFileChanged($event)"
                      style="display:none;" />
                  </button>

                  <mat-form-field *ngIf="gostCertificate.file">
                    <input matInput type="text" value="{{gostCertificate.file.fileName}}">
                    <button mat-button matSuffix mat-icon-button aria-label="Clear"
                      (click)="gostCertificate.file=null; gostCertificate.renewing=false;">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="ml-auto w-50 pull-right">
                    <mat-label>ПАРОЛЬ ДЛЯ СЕРТИФИКАТА</mat-label>
                    <input type="password" [required]="gostCertificate.file" matInput
                      [(ngModel)]="gostCertificate.password">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="mt-3 d-flex">
        <button type="button" [disabled]="isSaveDisabled()" (click)="save()" mat-raised-button class="primary-color">
          СОХРАНИТЬ</button>
          <div *ngIf="hasAccessToManageCertificates">
            <button type="button" *ngIf="!testingConnection" 
            [disabled]="!isProfileDataCompleted()" 
            (click)="testEsfConnection(true)" 
            mat-raised-button class="primary-color ml-3">
              ПРОВЕРИТЬ АВТОРИЗАЦИЮ</button>
    
            <button class="primary-color ml-3" mat-raised-button type="button" disabled 
            *ngIf="testingConnection"> 
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              ПРОВЕРИТЬ АВТОРИЗАЦИЮ
            </button>
          </div>
          <div *ngIf="!hasAccessToManageCertificates">
            <button type="button" *ngIf="!testingConnection" 
            [disabled]="isLoginOrPasswordEmpty()" 
            (click)="checkAuthAndProceed()" 
            mat-raised-button class="primary-color ml-3">
              ПРОВЕРИТЬ АВТОРИЗАЦИЮ</button>
    
            <button class="primary-color ml-3" mat-raised-button type="button" disabled 
            *ngIf="testingConnection"> 
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              ПРОВЕРИТЬ АВТОРИЗАЦИЮ
            </button>
          </div>
      </div>
    </mat-tab>
    <mat-tab label="РОЛИ">
      <h3 class="font-weight-bold mt-3 mb-0">МОИ РОЛИ</h3>
      <mat-list>
        <mat-list-item *ngFor="let role of user.roles">
          <mat-icon matListIcon>account_box</mat-icon>
          <span>{{role|uppercase}}</span>
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</div>