<div class="alert alert-info" role="alert">
  <p>Sign in and sign out users, and authenticate credentials to verify user identity.</p>
</div>

<div class="result">
  <p>
    <strong>⚙️Method: </strong> <strong><code>isUserSignedIn()</code></strong>
  </p>
  <p><strong>🔁Return: </strong><code>boolean</code></p>
  <p>
    <strong>🎯Result: </strong>
    <code>{{ authService.isSignedIn() ? "true ✅" : "false ❌" }}</code>
  </p>
</div>

<div class="result">
  <button
    class="button small"
    (click)="onSignIn()"
    [disabled]="authService.isLoading() || isProcessing"
  >
    @if (isSigningIn) {
    <span>🔄 Signing In...</span>
    } @else { Try userInitiatedSignIn() }
  </button>
  <p><strong>⚙️Method: </strong><code>userInitiatedSignIn()</code></p>
  <p>
    <strong>🔁Return: </strong><code>ICvxClaimsPrincipal</code> or
    <code>null</code>
  </p>

  @if (isSigningIn) {
  <p><strong>🎯Result: </strong></p>
  <p><strong>⏳Loading...</strong></p>
  } @else if (authService.claims() !== null && authService.isSignedIn()) {
  <p><strong>🎯Result:</strong></p>
  <code><p>ICvxClaimsPrincipal:</p></code>
  <pre><code>{{ authService.claims() | json }}</code></pre>
  } @else {
  <p><strong>🎯Result: </strong> <code>null</code></p>
  }
</div>

<div class="result">
  <button
    class="button btn-light small"
    (click)="onSignOut()"
    [disabled]="authService.isLoading() || isProcessing"
  >
    @if (isSigningOut) {
    <span>🔄 Signing Out...</span>
    } @else { Try userInitiatedSignOut() }
  </button>
  <p><strong>⚙️Method: </strong><code>userInitiatedSignOut()</code></p>
  <p><strong>🔁Return: </strong><code>boolean</code></p>
  @if (isSigningOut) {
  <p><strong>🎯Result: </strong></p>
  <p><strong>⏳Loading...</strong></p>
  } @else {
  <p>
    <strong>🎯Result: </strong
    ><code>{{ !authService.isSignedIn() ? "true ✅" : "false ❌" }}</code>
  </p>
  }
</div>
<div class="result">
  <strong>Related CDAS wiki: </strong>

  <ul class="arrows-after">
    <li>
      <a
        [href]="externalLinks['userSignInStrategies'].url"
        target="_blank"
        rel="noopener noreferrer"
        >{{ externalLinks["userSignInStrategies"].text }}</a
      >
    </li>
  </ul>
</div>
