registry=https://registry.npmjs.org/
@cvx:registry=https://artifactory.chevron.com/api/npm/npm/
//artifactory.chevron.com/api/npm/npm/:_authToken=${CVX_ARTIFACTORY_TOKEN}
//artifactory.chevron.com/api/npm/npm/:username=${CVX_ARTIFACTORY_USER}
//artifactory.chevron.com/api/npm/npm/:email="whatever@what.ever"
//artifactory.chevron.com/api/npm/npm/:always-auth = true