<!-- Information Note -->
<div class="alert alert-light" role="alert">
  <strong>💡Note: </strong><strong>autoSignIn</strong> is
  <strong>disabled</strong> by default in this project. To try auto sign-in,
  clone the
  <a
    [href]="externalLinks['calExampleBranch'].url"
    target="_blank"
    rel="noopener noreferrer"
    >{{ externalLinks["calExampleBranch"].text }}</a
  >, update your CAL configuration settings, and run it in your local
  environment. For detailed setup instructions, follow the
  <a
    [href]="externalLinks['autoSignInGuide'].url"
    target="_blank"
    rel="noopener noreferrer"
    >{{ externalLinks["autoSignInGuide"].text }}</a
  >
</div>

<div class="alert alert-info" role="alert">
  <p>
    CAL Angular Configuration Service provides centralized management of
    application settings.
  </p>
</div>

<div class="result">
  <p><code>CAL configuration in the assets folder:</code></p>
  <pre><code>{{ calProperties | json }}</code></pre>
</div>

<div class="result">
  <p><code>Retrieve specific configuration property:</code></p>
  <p><strong>autoSignIn:</strong> {{ config.getSettings("autoSignIn") }}</p>
  <p>
    <strong>cacheLocation:</strong> {{ config.getSettings("cacheLocation") }}
  </p>
  <p><strong>tenantId:</strong> {{ config.getSettings("tenantId") }}</p>
</div>

<div class="result">
  <strong>Related CDAS wiki: </strong>

  <ul class="arrows-after">
    <li>
      <a
        [href]="externalLinks['calAngularConfiguration'].url"
        target="_blank"
        rel="noopener noreferrer"
        >{{ externalLinks["calAngularConfiguration"].text }}</a
      >
    </li>
  </ul>
</div>
