<div [formGroup]="draftInvoiceForm">
  <h3>Раздел A. Общий раздел</h3>
  <table role="presentation">
    <tbody>
      
      <tr *ngIf="isSentInvoice()">
        <td> 1. Регистрационный номер*</td>
        <td>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Регистрационный номер</mat-label>
            <input matInput onlyDigits type="text" placeholder="Регистрационный номер"
              formControlName="regNum" />
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td> 1.1 Номер учетной системы*</td>
        <td>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Номер учетной системы</mat-label>
            <input matInput onlyDigits type="text" placeholder="Номер учетной системы"
              formControlName="num" />
            <mat-error *ngIf="draftInvoiceForm.get('num').hasError('required')">
              Поле 'Номер учетной системы' отсутствует"
            </mat-error>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>2. Дата выписки*</td>
        <td>
          <mat-form-field class="form-field" appearance="outline" (click)="invoiceDatePicker.open()">
            <input matInput [max]="today" [matDatepicker]="invoiceDatePicker" 
              formControlName="date">
            <mat-datepicker #invoiceDatePicker></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>3. Дата совершения оборота*</td>
        <td>
          <mat-form-field appearance="outline" (click)="turnoverDatePicker.open()">
            <input matInput (dateChange)="turnoverDateChanged($event)" [max]="today" [matDatepicker]="turnoverDatePicker"
              formControlName="turnoverDate">
            <mat-datepicker #turnoverDatePicker></mat-datepicker>
            <mat-error *ngIf="draftInvoiceForm.get('turnoverDate').errors?.dateRequired">
              Отсутствует дата совершения оборота
            </mat-error>
            <mat-error *ngIf="draftInvoiceForm.get('turnoverDate').errors?.dateCantBeEarlierThanFiveYearsAndInFuture">
              Дата совершения оборота задана неверно
            </mat-error>
          </mat-form-field>
        </td>
      </tr> 
    </tbody>
  </table>
    <app-invoice-section-a-esf [draftInvoiceForm]="draftInvoiceForm" *ngIf="isSentInvoice()"></app-invoice-section-a-esf>
</div>
