<div class="content-panel">
    <div class="container-fluid">
        <div id="welcome" >
            <p *ngIf="username!='Unauthorize'&&username!=''&&username!=undefined;else notauthorise" class="welcome header">
            Добро пожаловать, {{username}}
            </p>
            <ng-template #notauthorise>
                <p class="welcome error">
                    Вы не авторизованы. Пожалуйста, авторизуйтесь.
                </p>
            </ng-template>
        </div>
  
        <div>
        <p *ngIf="username!='Unauthorize'&&username!=''&&username!=undefined;else notauthorisewelcome"> Выберите модуль из списка ниже.</p>
            <ng-template #notauthorisewelcome>
                <p >
                Вы должны быть авторизованы для выбора модуля.
                </p>
            </ng-template>
            <div *ngIf="username!=''&&username!=undefined">
                <div *ngFor="let menuItem of menuItems"  class="module-card">
                <a [routerLink]="menuItem.path">
                    <div class="icon"><mat-icon>{{menuItem.icon}}</mat-icon> </div>
                    <div class="title">{{ menuItem.title }}</div>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>
  