#regNumber {
  min-width: 313px !important;
}
#table-snt {
  max-height: 700px;
  overflow: auto;
  padding-top: 0px !important;
}
th,
td,
th.mat-header-cell {
  text-align: center;
}
table.mat_table_slim {
  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding: 0px 5px !important;
  }

  td {
    font-size: 12px;
  }
}

.filter-input {
  width: 200px;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0px 0px 0px 4px !important;
}

.reconsiliation-success {
  color: green;
}

.reconsiliation-failure {
  color: red;
}

// th.mat-header-cell,
// td.mat-cell,
.details-table td,
.details-table th {
  border: 1px solid grey;
}

.mat-cell,
.mat-footer-cell {
  font-size: 10.5px;
}

.mat-header-cell {
  font-size: 10.5px;
}
.delimiter-col {
  border-right: 0.5px solid #C0C0C0;
}

table {
  width: 100%;
}
table.mat-mdc-table {
  overflow-y: auto !important;
  overflow-x: auto !important;
  display: block !important;
  max-width: 100% !important;
}
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.mat-icon-button-table-edit {
  height: 30px;
  width: 25px;
}

.mat-icon-button .mat-icon-table-edit {
  font-size: 15px;
  line-height: 15px;
}

.reconciled{
    background-color:lightgreen;
}

.nonReconciled {
  background-color: lightcoral;
}

.noMatch {
  background-color:antiquewhite;
}

:host ::ng-deep.mat-paginator .mat-form-field-underline {
  display: none;
}

.hidden {
  display: none;
}