<mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabChange($event.index)">
    <mat-tab label="AR Module" *ngIf="hasAccess(eiAccessControlList.ar.get('module_access'))">
        <div><app-ar-module></app-ar-module></div>
    </mat-tab>
    <mat-tab label="AR Invoices" *ngIf="hasAccess(eiAccessControlList.ar.get('send'))">
        <div><app-ar-drafts></app-ar-drafts></div>
    </mat-tab>
    <mat-tab label="Contract" *ngIf="hasAccess(eiAccessControlList.ap.get('module_access'))">
        <div><app-so></app-so></div>
    </mat-tab>
    <mat-tab label="Non-Contract" *ngIf="hasAccess(eiAccessControlList.ap.get('module_access'))">
        <div><app-nc></app-nc></div>
    </mat-tab>
    <mat-tab label="Purchase Order" *ngIf="hasAccess(eiAccessControlList.ap.get('module_access'))">
        <div><app-po></app-po></div>
    </mat-tab>
    <mat-tab label="Undistributed" *ngIf="hasAccess(eiAccessControlList.ap.get('module_access'))">
        <div><app-undistributed></app-undistributed></div>
    </mat-tab>
</mat-tab-group>