<div *ngIf="!(dataSource.loadingSubject | async);else spinner">
    <mat-dialog-content>
        <h1>Удаление</h1>
    </mat-dialog-content>
    <mat-dialog-content>
        <p>Вы точно хотите удалить группу - {{data.group.name}}</p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="onCloseDialog()">Отмена</button>
        <button mat-raised-button class="danger-color" type="submit" (click)="onAction()">Удалить</button>
    </mat-dialog-actions>
</div>
<ng-template #spinner>
    <app-loading></app-loading>
</ng-template>