<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>expand_more</mat-icon> Фильтры
        </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="row wrap" fxLayoutGap="30px" [formGroup]="filterForm">
        <mat-form-field appearance="fill">
          <mat-label>«с»:</mat-label>
          <input matInput [matDatepicker]="dateFromPicker" formControlName="dateFrom" />
          <mat-datepicker-toggle matSuffix [for]="dateFromPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateFromPicker></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>«по»:</mat-label>
          <input matInput [matDatepicker]="dateToPicker" formControlName="dateTo" />
          <mat-datepicker-toggle matSuffix [for]="dateToPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateToPicker></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field class="form-field" appearance="fill">
          <mat-label for="number">Номер счета</mat-label>
          <input matInput formControlName="number" appearance="outline" />
        </mat-form-field>
  
        <mat-form-field *ngIf="mode !== invoiceModuleMode.Undistributed" class="form-field" appearance="fill">
          <mat-label for="ReconciliationStatus">Статус сверки</mat-label>
          <mat-select formControlName="reconciliationStatus" #reconciliationStatusOptions>
            <mat-option [value]="status.value" *ngFor="let status of reconciliationStatuses">
              {{ status.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field *ngIf="mode !== invoiceModuleMode.ARModule" class="form-field" appearance="fill">
          <mat-label for="InvoiceType">Тип счета</mat-label>
          <mat-select formControlName="invoiceType">
            <mat-option [value]="type.value" *ngFor="let type of apInvoiceTypes">
              {{ type.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <app-auto-complete-search-organization (onSelectedEmitter)="onOrgChanging($event)"
          formControlName="orgautocomplete" label="{{ labelOrgName }}">
        </app-auto-complete-search-organization>
  
        <mat-form-field class="form-field" appearance="fill">
          <mat-label for="tin">БИН поставщика</mat-label>
          <input matInput formControlName="tin" appearance="outline" />
        </mat-form-field>
  
        <mat-form-field *ngIf="mode !== invoiceModuleMode.ARModule" class="form-field" appearance="fill">
          <mat-label>Статус счета</mat-label>
          <mat-select name="invoiceStatus" [(ngModel)]="selectedOptions" multiple>
            <mat-option #allSelected [value]="'all'" (click)="selectAll()">Все</mat-option>
            <mat-option *ngFor="let status of invoiceStatus" [value]="status.value" (click)="select()">{{ status.viewValue
              }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field *ngIf="mode !== invoiceModuleMode.ARModule" class="form-field" appearance="fill">
          <mat-label>Reconciliation Comment</mat-label>
          <mat-select name="manualReconciliationCommentType" [(ngModel)]="selectedOptionsCommentType" multiple>
            <mat-option #allCommentTypeSelected [value]="'all'" (click)="selectAllCommentType()">All</mat-option>
            <mat-option *ngFor="let type of manualReconciliationCommentType" [value]="type.value" (click)="selectCommentType()">{{ type.viewValue
              }}</mat-option>
          </mat-select>
        </mat-form-field>
  
  
        <mat-form-field class="form-field" appearance="fill">
          <mat-label for="registerNumber">Регистрационный номер ЭСФ</mat-label>
          <input matInput formControlName="registerNumber" appearance="outline" />
        </mat-form-field>
        
        <div class="checkbox-container">
          <mat-checkbox *ngIf="mode === invoiceModuleMode.ARModule" formControlName="isDrafts">Черновики</mat-checkbox>
        </div>

        <div class="checkbox-container">
          <mat-checkbox *ngIf="mode === invoiceModuleMode.ARModule" formControlName="ownInvoices">Мои счета</mat-checkbox>
        </div>
    
        <div class="pt-2 ml-0">          
          <button mat-raised-button class="primary-color" (click)="filter()">
            Применить
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>