.tnved-node {
  background-color: #fff5dc;
}

.gtin-node {
  background-color: #ffd6c7;
}

.open-node {
  background-color: #ffba00;
}
.gsvs-select-button{
    line-height: 26px;
    font-size: 12px;
}
.mat-progress-bar{
    position: absolute;
    bottom: 0;
}

.mat-tree-node {
  align-items: inherit;
}

.product-node{
    width: 100%;
    position: relative;
}

.gsvs-icon-container{  
  width:25px;  
}

.gsvs-icon-disabled{
  color:	#d2d2d2;
}