<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" *ngIf="!loading">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    {{node.name + ' | ' + node.code}}
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <div class="d-flex product-node" [ngClass]="nodeBackgroundColorClass(node)">
      <div class="justify-content-start p-2 expand-node  ">
        <button mat-icon-button [attr.aria-label]="'Toggle ' + node.name" matTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
      </div>
      <div class="justify-content-start p-2 align-self-center mr-auto ">
        {{node.name + ' | ' + node.code}}
      </div>
      <div class="p-2 gsvs-icon-container align-self-center ">
        <mat-icon [ngClass]="{'gsvs-icon-disabled': node.isSociallySignificant !== true }">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <title>Социально значимый товар</title>
            <path
              d="M20.8215 7.7475C20.6345 7.45821 20.3275 7.28571 19.9996 7.28571H6.33288L5.1789 4.31786C4.86691 3.51643 4.14293 3 3.33295 3H1V5.14286H3.33295L8.07683 17.3411C8.23183 17.7396 8.59582 18 8.99981 18H16.9996C17.4166 18 17.7896 17.7225 17.9366 17.3057L20.9365 8.73429C21.0515 8.40429 21.0085 8.03571 20.8215 7.7475Z">
            </path>
            <path
              d="M9.5 22C10.3284 22 11 21.3284 11 20.5C11 19.6716 10.3284 19 9.5 19C8.67157 19 8 19.6716 8 20.5C8 21.3284 8.67157 22 9.5 22Z">
            </path>
            <path
              d="M16.5 22C17.3284 22 18 21.3284 18 20.5C18 19.6716 17.3284 19 16.5 19C15.6716 19 15 19.6716 15 20.5C15 21.3284 15.6716 22 16.5 22Z">
            </path>
          </svg>
        </mat-icon>
      </div>
      <div class="p-2 gsvs-icon-container align-self-center ">
        <mat-icon [ngClass]="{'gsvs-icon-disabled': node.isTwofoldPurpose !== true }">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <title>Экспортный контроль</title>
            <path
              d="M11.488 21.754C11.782 21.911 12.151 21.91 12.445 21.753C20.457 17.449 21.026 9.04001 21.019 6.64901C21.018 6.25501 20.784 5.90501 20.423 5.74601L12.373 2.18001C12.114 2.06601 11.819 2.06601 11.56 2.18101L3.566 5.74701C3.211 5.90601 2.979 6.25001 2.974 6.63901C2.94 9.01801 3.419 17.445 11.488 21.754ZM8.674 10.293L10.967 12.586L15.26 8.29301L16.674 9.70701L10.967 15.414L7.26 11.707L8.674 10.293Z">
            </path>
          </svg>
        </mat-icon>
      </div>
      <div class="p-2 gsvs-icon-container align-self-center ">
        <mat-icon [ngClass]="{'gsvs-icon-disabled': node.isUnique !== true }">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
            role="img" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
            <title>Уникальный</title>
            <path
              d="M16 9h3l-5 7m-4-7h4l-2 8M5 9h3l2 7m5-12h2l2 3h-3m-5-3h2l1 3h-4M7 4h2L8 7H5m1-5L2 8l10 14L22 8l-4-6H6z"
              fill="currentColor" />
          </svg>
        </mat-icon>
      </div>
      <div class="p-2 gsvs-icon-container align-self-center ">
        <mat-icon [ngClass]="{'gsvs-icon-disabled': node.isWithdrawal !== true }">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <title>Товар изъятия</title>
            <path
              d="M20 12C20 10.897 19.103 10 18 10H17V7C17 4.243 14.757 2 12 2C9.243 2 7 4.243 7 7V10H6C4.897 10 4 10.897 4 12V20C4 21.103 4.897 22 6 22H18C19.103 22 20 21.103 20 20V12ZM9 7C9 5.346 10.346 4 12 4C13.654 4 15 5.346 15 7V10H9V7Z">
            </path>
          </svg>
        </mat-icon>
      </div>
      <div class="p-2 gsvs-icon-container align-self-center">
        <mat-icon [ngClass]="{'gsvs-icon-disabled': node.isExcisable !== true }">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
            role="img" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512">
            <title>Признак подакцизных товаров</title>
            <path
              d="M0 405.3V448c0 35.3 86 64 192 64s192-28.7 192-64v-42.7C342.7 434.4 267.2 448 192 448S41.3 434.4 0 405.3zM320 128c106 0 192-28.7 192-64S426 0 320 0S128 28.7 128 64s86 64 192 64zM0 300.4V352c0 35.3 86 64 192 64s192-28.7 192-64v-51.6c-41.3 34-116.9 51.6-192 51.6S41.3 334.4 0 300.4zm416 11c57.3-11.1 96-31.7 96-55.4v-42.7c-23.2 16.4-57.3 27.6-96 34.5v63.6zM192 160C86 160 0 195.8 0 240s86 80 192 80s192-35.8 192-80s-86-80-192-80zm219.3 56.3c60-10.8 100.7-32 100.7-56.3v-42.7c-35.5 25.1-96.5 38.6-160.7 41.8c29.5 14.3 51.2 33.5 60 57.2z"
              fill="currentColor" />
          </svg>
        </mat-icon>
      </div>
      <div class="p-2  gsvs-icon-container align-self-center ">
        <mat-icon [ngClass]="{'gsvs-icon-disabled': node.isUseInVstore !== true }">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
            role="img" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
            <title>Ведение ВС</title>
            <path d="M2 2v6.7h1V22h18V8.7h1V2H2zm13 12H9v-2h6v2zm5-7H4V4h16v3z" fill="currentColor" />
          </svg>
        </mat-icon>
      </div>
      <div class="p-2   align-self-center justify-content-end">
        <button *ngIf="canSelectProduct && node.canBeSelected" mat-raised-button
          class="primary-color ml-3 gsvs-select-button" (click)="selectProduct(node)">
          Выбрать
        </button>
      </div>
      <mat-progress-bar *ngIf="node.isLoading" mode="indeterminate" class="example-tree-progress-bar">
      </mat-progress-bar>
    </div>
  </mat-tree-node>
</mat-tree>
<app-loading *ngIf="loading" [textLoading]="true" [widthPx]='100'></app-loading>