<mat-sidenav-container>
  <mat-sidenav
    class="sidenavSnt"
    mode="side"
    role="navigation"
    opened
    [class.collapsed]="!isOpen"
  >
    <app-navigation
      [isArrowRightInput]="isOpen"
      (sidenavClose)="close()"
      (sidenavToggle)="toggle()"
    ></app-navigation>
  </mat-sidenav>
  <mat-sidenav-content (click)="onContentClick($event)">
    <app-header></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
