<mat-form-field class="form-field" appearance="fill">

    <mat-label>{{label}}</mat-label>
    <textarea matInput rows="1" appearance="fill" type="text"
        (keyup)="searchTerm$.next($any($event.target).value)" 
        [value]="displayInputText"
        [matAutocompleteDisabled]="disabled" [matAutocomplete]="autoorg"
        (input)="onSearchChange($any($event.target).value)" 
        (change)="onOrgNameChanging($any($event.target).value)">
    </textarea>

    <mat-autocomplete #autoorg="matAutocomplete" (optionSelected)="onSelected($event.option.value)"
        [displayWith]="displayFn" [panelWidth]="450">
        <mat-optgroup *ngFor="let item of filtered$ | async" [label]="item.name">
            <mat-option *ngFor="let g of item.group" [value]="g">
                {{g.name}}
            </mat-option>
        </mat-optgroup>
    </mat-autocomplete>
    <button *ngIf="selectedOrganization!=null" matSuffix mat-icon-button aria-label="Clear" (click)="cleanOrganizationSelect()">
        <mat-icon>close</mat-icon>
    </button>

</mat-form-field>