<button mat-raised-button (click)="onCreateAction()" class="primary-color mb-2 mt-2 mr-1">Добавить группу</button>

<div class="row">
    <div class="col">
      <table role="presentation" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="group">
          <th mat-header-cell *matHeaderCellDef>Группы</th>
          <td mat-cell *matCellDef="let element"> {{element.group.name}} </td>
        </ng-container>
        <ng-container matColumnDef="stores">
          <th mat-header-cell *matHeaderCellDef>Склады</th>
          <td mat-cell *matCellDef="let element">
            <mat-list>
              <div *ngFor="let store of getTaxpayerStoreName(element.taxpayerStores)">
                <span >{{store}}</span>
              </div>
            </mat-list>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Действия</th>
            <td mat-cell *matCellDef="let element">
                <a (click)="onEditAction(element)"><mat-icon  matTooltip="Редактировать">edit</mat-icon></a> 
                <a (click)="onDeleteAction(element)"><mat-icon  matTooltip="Удалить">delete</mat-icon></a> 
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        ></tr>
      </table>
    </div>
</div>


<app-loading *ngIf="dataSource.loading | async" [widthPx]='100'></app-loading>


