registry=https://registry.npmjs.org/
@cvx:registry=https://artifactory.chevron.com/api/npm/npm-local/

//artifactory.chevron.com/api/npm/npm-local/:_authToken=${CVX_ARTIFACTORY_TOKEN}
//artifactory.chevron.com/api/npm/npm-local/:username=${CVX_ARTIFACTORY_USER}
//artifactory.chevron.com/api/npm/npm-local/:always-auth=true