<div class="row">
  <div class="col">
    <app-balances-filters
      #balanceFilters
      (balancesFilterEvent)="filterBalances($event)"
    ></app-balances-filters>
  </div>
</div>
<div class="row" id="buttons-pagination">
  <div>
    <button #importButton *ngIf="hasAccess(balanceAccessControlList.get('import'))" class="primary-color mt-1"
      mat-raised-button (click)="checkAuthAndProceed()">
      Обновить данные
    </button>
    <button *ngIf="hasAccess(balanceAccessControlList.get('balance_report'))" class="primary-color ml-1 mt-1"
      mat-raised-button [disabled]="loadingReport" (click)="onGetBalanceReport()">
      <div *ngIf="loadingReport" class="spinner-border spinner-border-sm"></div>
      Экспорт товаров
    </button>
  </div>
  <div>
    <mat-paginator [length]="resultsLength" [pageSize]="15" [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</div>
<div class="row mt-2" id="table-balances">
  <div class="col">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      aria-label="Balances"
    >
      <ng-container matColumnDef="productId">
        <th scope="col" mat-header-cell *matHeaderCellDef>
          Идентификатор товара
        </th>
        <td mat-cell *matCellDef="let element">{{ element.productId }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th scope="col" mat-header-cell *matHeaderCellDef>
          Наименование товаров, работ, услуг
        </th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="tnvedCode">
        <th scope="col" mat-header-cell *matHeaderCellDef>Код ТН ВЭД</th>
        <td mat-cell *matCellDef="let element">{{ element.tnvedCode }}</td>
      </ng-container>

      <ng-container matColumnDef="gtinCode">
        <th scope="col" mat-header-cell *matHeaderCellDef>Код товара (GTIN)</th>
        <td mat-cell *matCellDef="let element">{{ element.gtinCode }}</td>
      </ng-container>

      <ng-container matColumnDef="pinCode">
        <th scope="col" mat-header-cell *matHeaderCellDef>ПИН-код</th>
        <td mat-cell *matCellDef="let element">{{ element.pinCode }}</td>
      </ng-container>

      <ng-container matColumnDef="manufactureOrImportDocNumber">
        <th scope="col" mat-header-cell *matHeaderCellDef>
          № ДТ, ФНО 328.00, СТ-KZ, СТ-1
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.manufactureOrImportDocNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="productNumberInImportDoc">
        <th scope="col" mat-header-cell *matHeaderCellDef>
          Номер товарной позиции из ДТ или ФНО 328.00
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.productNumberInImportDoc }}
        </td>
      </ng-container>

      <ng-container matColumnDef="productNameInImportDoc">
        <th scope="col" mat-header-cell *matHeaderCellDef>
          Наименование товаров в соответствии с ДТ или ФНО 328.00
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.productNameInImportDoc }}
        </td>
      </ng-container>

      <ng-container matColumnDef="physicalLabel">
        <th scope="col" mat-header-cell *matHeaderCellDef>Физическая метка</th>
        <td mat-cell *matCellDef="let element">{{ element.physicalLabel }}</td>
      </ng-container>

      <ng-container matColumnDef="unitPrice">
        <th scope="col" mat-header-cell *matHeaderCellDef>Цена</th>
        <td mat-cell *matCellDef="let element">{{ element.unitPrice }}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th scope="col" mat-header-cell *matHeaderCellDef>Количество</th>
        <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="taxpayerStoreName">
        <th scope="col" mat-header-cell *matHeaderCellDef>Склад</th>
        <td mat-cell *matCellDef="let element">
          {{ element.taxpayerStoreName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="measureUnitName">
        <th scope="col" mat-header-cell *matHeaderCellDef>Ед. изм</th>
        <td mat-cell *matCellDef="let element">
          {{ element.measureUnitName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="reserveQuantity">
        <th scope="col" mat-header-cell *matHeaderCellDef>Зарезевировано</th>
        <td mat-cell *matCellDef="let element">
          {{ element.reserveQuantity }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [hidden]="dataSource.loading | async"
      ></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          Нет совпадений по заданному фильтру.
        </td>
      </tr>
    </table>
  </div>
</div>
<app-loading
  *ngIf="dataSource.loading | async"
  [textLoading]="true"
  [widthPx]="100"
></app-loading>
