<h2 mat-mat-dialog-title>
  <span>Выбор товара</span>
</h2>

<mat-dialog-content>
  <div class="row">
    <div class="col-2">
      <app-product-select-balance-filters (onFilter)="onFilter($event)" (onClear)="onClear()"></app-product-select-balance-filters>
  </div>
  <div class="col-10">
    <div class="content-panel">
      <div class="container-fluid">
    <button mat-button (click)="selectProduct()">Выбрать</button>
    <button mat-button (click)="closeDialog()">Отмена</button>

    <mat-table [dataSource]="products.dataSourceSubjects" class="mat-elevation-z8">

      <ng-container matColumnDef="select">
        <th scope="col" mat-header-cell *matHeaderCellDef>
          <mat-checkbox *ngIf="data.type === 'SNT'" (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" >
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="selection.toggle(row)"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="taxpayerStoreName">
        <th scope="col" mat-header-cell *matHeaderCellDef> Имя склада </th>
        <td mat-cell *matCellDef="let element"> {{element.taxpayerStoreName}} </td>
      </ng-container>

      <ng-container matColumnDef="projectCode">
        <th scope="col" mat-header-cell *matHeaderCellDef> Код проекта </th>
        <td mat-cell *matCellDef="let element"> {{element.projectCode}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th scope="col" mat-header-cell *matHeaderCellDef> Наименование ТРУ из учетной Системы НП </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="kpvedCode">
        <th scope="col" mat-header-cell *matHeaderCellDef> Код КПВЭД </th>
        <td mat-cell *matCellDef="let element"> {{element.kpvedCode}} </td>
      </ng-container>

      <ng-container matColumnDef="tnvedCode">
        <th scope="col" mat-header-cell *matHeaderCellDef> Код ТНВЭД ЕАЭС</th>
        <td mat-cell *matCellDef="let element"> {{element.tnvedCode}} </td>
      </ng-container>

      <ng-container matColumnDef="gtinCode">
        <th scope="col" mat-header-cell *matHeaderCellDef> Код GTIN </th>
        <td mat-cell *matCellDef="let element"> {{element.gtinCode}} </td>
      </ng-container>

      <ng-container matColumnDef="productId">
        <th scope="col" mat-header-cell *matHeaderCellDef>Сквозной идентификатор товара в пределах НП</th>
        <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
      </ng-container>

      <ng-container matColumnDef="measureUnitName">
        <th scope="col" mat-header-cell *matHeaderCellDef> Код единицы измерения</th>
        <td mat-cell *matCellDef="let element"> {{element.measureUnitName}} </td>
      </ng-container>

      <ng-container matColumnDef="unitPrice">
        <th scope="col" mat-header-cell *matHeaderCellDef> Цена за единицу</th>
        <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="manufactureOrImportDocNumber">
        <th scope="col" mat-header-cell *matHeaderCellDef> № документа производства/импорта (ДТ, ФНО 328.00, CT-KZ, CT-1)</th>
        <td mat-cell *matCellDef="let element"> {{element.manufactureOrImportDocNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="productNumberInImportDoc">
        <th scope="col" mat-header-cell *matHeaderCellDef> № товарной позиции из документа импорта (ДТ или ФНО 328.00)</th>
        <td mat-cell *matCellDef="let element"> {{element.productNumberInImportDoc}} </td>
      </ng-container>

      <ng-container matColumnDef="productNameInImportDoc">
        <th scope="col" mat-header-cell *matHeaderCellDef> Наименование товаров в соответствии с документом импорта (ДТ или ФНО 328.00)</th>
        <td mat-cell *matCellDef="let element"> {{element.productNameInImportDoc}} </td>
      </ng-container>

      <ng-container matColumnDef="physicalLabel">
        <th scope="col" mat-header-cell *matHeaderCellDef> Физическая метка</th>
        <td mat-cell *matCellDef="let element"> {{element.physicalLabel}} </td>
      </ng-container>

      <ng-container matColumnDef="pinCode">
        <th scope="col" mat-header-cell *matHeaderCellDef> Пин-код</th>
        <td mat-cell *matCellDef="let element"> {{element.pinCode}} </td>
      </ng-container>

      <ng-container matColumnDef="spiritPercent">
        <th scope="col" mat-header-cell *matHeaderCellDef> Крепость (% содержания спирта)</th>
        <td mat-cell *matCellDef="let element"> {{element.spiritPercent}} </td>
      </ng-container>

      <ng-container matColumnDef="canExport">
        <th scope="col" mat-header-cell *matHeaderCellDef> Признак экспортируемости товара: возможен экспорт</th>
        <td mat-cell *matCellDef="let element"> {{element.canExport}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th scope="col" mat-header-cell *matHeaderCellDef> Количество</th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <ng-container matColumnDef="reserveQuantity">
        <th scope="col" mat-header-cell *matHeaderCellDef> Количество товаров в резерве</th>
        <td mat-cell *matCellDef="let element"> {{element.reserveQuantity}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Нет совпадений по заданному фильтру.</td>
      </tr>
    </mat-table>

    <app-loading *ngIf="products.loading | async" [textLoading]="true" [widthPx]='100'></app-loading>

      </div>
    </div>
  </div>
</div>
</mat-dialog-content>
