
<div *ngIf="!(dataSource.loadingSubject | async);else spinner" class="formFieldSubscriptWrapperPositionAbsolute">
    <mat-dialog-content>
        <h1>Поиск AD группу</h1>
    </mat-dialog-content>
    <form [formGroup]="form">
        <mat-dialog-content align="center">
            <mat-form-field class="width" appearance="fill">
                <mat-label>Поиск группы</mat-label>
                <input matInput (keyup)="searchTerm$.next($any($event.target).value)" [matAutocomplete]="auto" formControlName="group">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onGroupSelected($event.option.value)">
                    <mat-option disabled class="loading" *ngIf="dataLoader">
                        <mat-spinner diameter="35"></mat-spinner>
                    </mat-option>
                    <mat-option *ngFor="let group of groups" [value]="group">
                        {{group.name}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="form.get('group').hasError('required')">Поля является обязательным для заполнения</mat-error>
                <mat-error *ngIf="form.get('group').hasError('notFound')">Группа не найдена</mat-error>
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-content class="mt-3">
            <ng-container formArrayName="roles" *ngFor="let role of rolesFormArray.controls; let i=index" >
               <div class="d-inline-flex p-2 bd-highlight">
                    <mat-checkbox 
                        (change)="onRoleChecked($event.checked, roles[i].value)"
                        [formControlName]="i">
                            {{roles[i].viewValue}}
                    </mat-checkbox>
               </div>
            </ng-container>
            <div class="custom-error" [hidden]="!form.get('roles').hasError('equalTrue')">Поля является обязательным для заполнения</div>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-raised-button (click)="onCloseDialog()">Отмена</button>
            <button mat-raised-button class="primary-color" type="submit" [disabled]="!form.valid" (click)="onAction()">Создать</button>
        </mat-dialog-actions>
    </form>
</div>
<ng-template #spinner>
    <app-loading></app-loading>
</ng-template>
