<div [formGroup]="draftInvoiceForm">
  <h3>Раздел C. Реквизиты получателя</h3>
  <table role="presentation" formGroupName="customer">
    <tbody>
      <tr>
        <td>16. ИИН/БИН*</td>
        <td>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>ИИН/БИН</mat-label>
            <input matInput type="text" placeholder="ИИН/БИН" formControlName="tin" />

            <mat-error *ngIf="draftInvoiceForm.get('customer.tin').hasError('tinRequired')">
              Поля является обязательным для заполнения
            </mat-error>
            <mat-error *ngIf="draftInvoiceForm.get('customer.tin').hasError('residentLength')">
              ИИН/БИН получателя должен быть 12 символов
            </mat-error>
            <mat-error *ngIf="draftInvoiceForm.get('customer.tin').hasError('nonResidentLength')">
              Количество чисел должно быть между 1 и 50
            </mat-error>
            <mat-error *ngIf="draftInvoiceForm.get('customer.tin').hasError('pattern')">
              Надо только ввести числа
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>17. Получатель*</td>
        <td>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Получатель</mat-label>
            <textarea matInput rows="3" type="text" placeholder="Получатель" formControlName="name">
              </textarea>
            <mat-error *ngIf="draftInvoiceForm.get('customer.name').hasError('required')">
              Получатель отсутствует
            </mat-error>
            <mat-error
              *ngIf="draftInvoiceForm.get('customer.name').hasError('minlength') && !draftInvoiceForm.get('customer.name').hasError('required')">
              Поле 'Получатель' должно содержать от 3 до 450 символов
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>18. Адрес места нахождения*</td>
        <td>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Адрес места нахождения</mat-label>
            <textarea matInput type="text" placeholder="Адрес места нахождения" formControlName="address"></textarea>
            <mat-error *ngIf="draftInvoiceForm.get('customer.address').hasError('required')">
              Поле 'Адрес места нахождения' отсутствует
            </mat-error>
            <mat-error
              *ngIf="draftInvoiceForm.get('customer.address').hasError('minlength') && !draftInvoiceForm.get('customer.address').hasError('required')">
              Поле 'Адрес места нахождения' должно содержать от 3 до 450 символов
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>18.1. Код страны*</td>
        <td>
          <mat-form-field class="form-field" appearance="outline">
            <app-auto-complete-search-country formControlName="countryCode" [countrySearchAmount]="0" (onSelectedEmitter)="onCountryCodeChanged($event)">
            </app-auto-complete-search-country>
            <mat-error *ngIf="draftInvoiceForm.get('customer.countryCode').hasError('required')"> 
              Код страны отсутствует
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>19. Дополнительные сведения</td>
        <td>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Дополнительные сведения</mat-label>
            <input matInput type="text" placeholder="Дополнительные сведения" formControlName="trailer" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>20. Категория получателя</td>
        <td class="with-checkbox">
          <div>
            <!-- COMMITTENT -->
            <span class="checkbox-prefix">
              A

            </span>
            <mat-checkbox formControlName="commitentCheckBox"
                          (change)="onCategoryChanged($event.checked, 'COMMITTENT')">
              Комитент
            </mat-checkbox>
          </div>
          <div>
            <!-- BROKER -->
            <span class="checkbox-prefix">
              B

            </span>

            <mat-checkbox formControlName="brokerCheckBox"
              (change)="onCategoryChanged($event.checked, CustomerCategory.BROKER)">
              Комиссионер
            </mat-checkbox>
          </div>
          <div>
            <!-- LESSEE -->
            <span class="checkbox-prefix">
              C

            </span>

            <mat-checkbox formControlName="lesseeCheckBox"
              (change)="onCategoryChanged($event.checked, CustomerCategory.LESSEE)">
              Лизингополучатель 
            </mat-checkbox>
          </div>
          <div>
            <!-- JOINT_ACTIVITY_PARTICIPANT -->
            <span class="checkbox-prefix">
              D

            </span>

            <mat-checkbox formControlName="jointActivityCheckBox"
              (change)="onCategoryChanged($event.checked, CustomerCategory.JOINT_ACTIVITY_PARTICIPANT)">
              Участник договора о совместной деятельности
            </mat-checkbox>
          </div>

          <div>
            <!-- PUBLIC_OFFICE -->
            <span class="checkbox-prefix">
              E

            </span>

            <mat-checkbox formControlName="publicOfficeCheckBox"
              (change)="onCategoryChanged($event.checked, CustomerCategory.PUBLIC_OFFICE)">
              Государственное учреждение
            </mat-checkbox>
          </div>
          <div>
            <!-- NONRESIDENT -->
            <span class="checkbox-prefix">
              F

            </span>

            <mat-checkbox formControlName="nonresidentCheckBox" (change)="onCategoryChanged($event.checked,  CustomerCategory.NONRESIDENT)">
              Нерезидент
            </mat-checkbox>
          </div>

          <div>
            <!-- SHARING_AGREEMENT_PARTICIPANT -->
            <span class="checkbox-prefix">
              G

            </span>

            <mat-checkbox formControlName="sharingAgreementCheckBox" (change)="onCategoryChanged($event.checked,  CustomerCategory.SHARING_AGREEMENT_PARTICIPANT)">
              Участник СРП или сделки, заключенной в рамках СРП
            </mat-checkbox>
          </div>
          <div>
            <!-- PRINCIPAL -->
            <span class="checkbox-prefix">
              H

            </span>

            <mat-checkbox formControlName="principalCheckBox" (change)="onCategoryChanged($event.checked,  CustomerCategory.PRINCIPAL)">
              Доверитель 
            </mat-checkbox>
          </div>
          <div>
            <!-- RETAIL -->
            <span class="checkbox-prefix">
              I

            </span>

            <mat-checkbox formControlName="retailCheckBox" (change)="onCategoryChanged($event.checked,  CustomerCategory.RETAIL)">
              Розничная реализация
            </mat-checkbox>
          </div>
          <div>
            <!-- INDIVIDUAL -->
            <span class="checkbox-prefix">
              J

            </span>

            <mat-checkbox formControlName="individualCheckBox" (change)="onCategoryChanged($event.checked,  CustomerCategory.INDIVIDUAL)">
              Физическое лицо
            </mat-checkbox>
          </div>
          <div>
            <!-- LAWYER -->
            <span class="checkbox-prefix">
              K

            </span>

            <mat-checkbox formControlName="lawyerCheckBox" (change)="onCategoryChanged($event.checked,  CustomerCategory.LAWYER)">
              Адвокат 
            </mat-checkbox>
          </div>
          <div>
            <!-- BAILIFF -->
            <span class="checkbox-prefix">
              L

            </span>

            <mat-checkbox formControlName="bailiffCheckBox" (change)="onCategoryChanged($event.checked,  CustomerCategory.BAILIFF)">
              Частный судебный исполнитель
            </mat-checkbox>
          </div>
          <div>
            <!-- MEDIATOR -->
            <span class="checkbox-prefix">
              M

            </span>

            <mat-checkbox formControlName="mediatorCheckBox" (change)="onCategoryChanged($event.checked,  CustomerCategory.MEDIATOR)">
              Медиатор
            </mat-checkbox>
          </div>
          <div>
            <!-- NOTARY -->
            <span class="checkbox-prefix">
              N

            </span>

            <mat-checkbox formControlName="notaryCheckBox" (change)="onCategoryChanged($event.checked,  CustomerCategory.NOTARY)">
              Нотариус
            </mat-checkbox>
          </div>
      </tr>
    </tbody>
  </table>
</div>
