<div class="content-panel">
    <div class="container-fluid">
        <div id="account-reporting-title"><p class="account-reporting-title header">Отчетность счетов</p></div>
        <button mat-raised-button (click)="onCreateAction()" class="primary-color mb-2 mt-2 mr-1">Добавить</button>

        <div class="row">
            <div class="col">
            <table role="presentation" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef>#</th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
                </ng-container>

                <ng-container matColumnDef="accountNumber">
                <th mat-header-cell *matHeaderCellDef>Номер счета</th>
                <td mat-cell *matCellDef="let element"> {{element.accountNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="accountantFullname">
                <th mat-header-cell id='accountantFullname' *matHeaderCellDef>Ответственный бухгалтер</th>
                <td mat-cell *matCellDef="let element"> {{element.accountantFullname}} </td>
                </ng-container>

                <ng-container matColumnDef="supervisorFullname">
                <th mat-header-cell id='supervisorFullname' *matHeaderCellDef>Супервайзер</th>
                <td mat-cell *matCellDef="let element"> {{element.supervisorFullname}} </td>
                </ng-container>
                
                <ng-container matColumnDef="actions">
                <th mat-header-cell id='actions' *matHeaderCellDef>Действия</th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <a (click)="onEditAction(element)"><mat-icon  matTooltip="Редактировать">edit</mat-icon></a> 
                    <a (click)="onDeleteAction(element)"><mat-icon matTooltip="Удалить">delete</mat-icon></a> 
                </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            </div>
        </div>
    
        <app-loading *ngIf="dataSource.loading | async" [widthPx]='100'></app-loading>
    </div>
</div>

