<div [formGroup]="draftInvoiceForm">
  <h3>Раздел F. Общий раздел</h3>
  <table role="presentation" formGroupName="requisites">
    <tbody>
      <tr>
        <td> 32.1. Номер документа, подтверждающего поставку товаров, работ, услуг</td>
        <td>
          <div class="row">
            <div class="col-md-10">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Номер документа, подтверждающего поставку товаров, работ, услуг</mat-label>
                <input matInput [required]="!!draftInvoiceForm.get('requisites.deliveryDocDate').value" type="text"
                  placeholder="Номер документа, подтверждающего поставку товаров, работ, услуг"
                  formControlName="deliveryDocNum" />
                <mat-error *ngIf="draftInvoiceForm.get('requisites.deliveryDocNum').hasError('required')">
                  Реквизиты поставщика 'Номер документа, подтверждающего поставку товаров, работ, услуг' и 'Дата документа, подтверждающего поставку товаров, работ, услуг' заполняются вместе
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-2 pt-3" *ngIf="isSentInvoice()">
              <mat-icon matTooltip="АВР" class="cursor-poiter mr-2" (click)="openAwpSelect()">search</mat-icon>
              <mat-icon matTooltip="СНТ" class="cursor-poiter mr-2" (click)="openSntSelect()">search</mat-icon>
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td>32.2. Дата документа, подтверждающего поставку товаров, работ, услуг</td>
        <td>
          <mat-form-field appearance="outline" (click)="deliveryDocDatePicker.open()">
            <input matInput [required]="!!draftInvoiceForm.get('requisites.deliveryDocNum').value" [matDatepicker]="deliveryDocDatePicker" formControlName="deliveryDocDate" [max]="today">
            <mat-datepicker #deliveryDocDatePicker></mat-datepicker>
            <mat-error *ngIf="draftInvoiceForm.get('requisites.deliveryDocDate').errors?.required">
              Реквизиты поставщика 'Номер документа, подтверждающего поставку товаров, работ, услуг' и 'Дата документа, подтверждающего поставку товаров, работ, услуг' заполняются вместе
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </tbody>
  </table>
</div>
