<form #gsvsFiltersForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="d-flex align-items-center mt-1">
    <label class="w-50">Наименование: </label>
    <mat-form-field class="form-field w-50" appearance="outline">
      <input matInput type="text" name="name" [(ngModel)]="model.name" />
    </mat-form-field>
  </div>
  <div class="d-flex align-items-center">
    <label class="w-50">Код:</label>
    <mat-form-field class="form-field w-50" appearance="outline">
      <input matInput type="text" name="code" [(ngModel)]="model.code" />
    </mat-form-field>
  </div>
  <div class="d-flex align-items-center">
    <label class="w-50">Ведение ВС:</label>
    <mat-form-field class="form-field w-50" appearance="outline">
      <mat-select [(value)]="model.isUseInVstore">        
        <mat-option *ngFor="let gsvsFlag of gsvsFlags" [value]="gsvsFlag.value">
          {{gsvsFlag.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="d-flex align-items-center">
    <label class="w-50">Уникальный:</label>
    <mat-form-field class="form-field w-50" appearance="outline">
      <mat-select [(value)]="model.isUnique">
        <mat-option *ngFor="let gsvsFlag of gsvsFlags" [value]="gsvsFlag.value">
          {{gsvsFlag.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="d-flex align-items-center">
    <label class="w-50">Товар из перечня:</label>
    <mat-form-field class="form-field w-50" appearance="outline">
      <mat-select [(value)]="model.isWithdrawal">
        <mat-option *ngFor="let gsvsFlag of gsvsFlags" [value]="gsvsFlag.value">
          {{gsvsFlag.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="d-flex align-items-center">
    <label class="w-50">Товар ЭК:</label>
    <mat-form-field class="form-field w-50" appearance="outline">
      <mat-select [(value)]="model.isTwofoldPurpose">
        <mat-option *ngFor="let gsvsFlag of gsvsFlags" [value]="gsvsFlag.value">
          {{gsvsFlag.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="d-flex align-items-center">
    <label class="w-50">Социально значимый товар:</label>
    <mat-form-field class="form-field w-50" appearance="outline">
      <mat-select [(value)]="model.isSociallySignificant">
        <mat-option *ngFor="let gsvsFlag of gsvsFlags" [value]="gsvsFlag.value">
          {{gsvsFlag.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="d-flex align-items-center">
    <label class="w-50">Подакцизный товар:</label>
    <mat-form-field class="form-field w-50" appearance="outline">
      <mat-select [(value)]="model.isExcisable">
        <mat-option *ngFor="let gsvsFlag of gsvsFlags" [value]="gsvsFlag.value">
          {{gsvsFlag.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button type="submit" mat-raised-button class="primary-color">Поиск</button>
    <button class="ml-2" mat-raised-button type="button" (click)="onReset(gsvsFiltersForm)">Очистить</button>
  </div>
</form>
