<h1 class="mt-2">{{sntSectionsNames.sectiong}}</h1>
<form [formGroup]="draftSntForm" class="formFieldSubscriptWrapperPositionAbsolute">
    <table mat-table [dataSource]="dataSource" aria-label="products">
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="numberHeaderRowDefs"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      
      <ng-container formArrayName="products">
        <ng-container matColumnDef="truOriginCode">
          <th scope="col" mat-header-cell *matHeaderCellDef>Признак происхождения товара</th>
          <td class="row-value" mat-cell *matCellDef="let element;let i = index;"  [formGroupName]="i">
            <mat-form-field appearance="fill">
              <mat-select formControlName="truOriginCode">
                <mat-option *ngFor="let code of truOriginCode" [value]="code.value">
                  {{code.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="element.get('truOriginCode').hasError('required')">
                Признак происхождения товара отсутствует
              </mat-error>
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      
        <ng-container matColumnDef="productName">
          <th scope="col" mat-header-cell *matHeaderCellDef>Наименование товаров, работ, услуг</th>
          <td class="row-value" mat-cell *matCellDef="let element;let i = index;" [formGroupName]="i">            
            <mat-form-field appearance="fill">              
              <input matInput 
                     type="text" formControlName="productName"/> 
              <mat-error *ngIf="element.get('productName').hasError('required')">Поле является обязательным для заполнения</mat-error>              
              <mat-error *ngIf="element.get('productName').hasError('maxlength')">Поле 'Наименование товара' должно содержать от 1 до 2500 символов</mat-error>              
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="codeTNVED">
          <th scope="col" mat-header-cell *matHeaderCellDef>Код ТН ВЭД ЕАЭС</th>
          <td class="row-value" mat-cell *matCellDef="let element;let i = index;" [formGroupName]="i">
            <mat-form-field appearance="fill">              
              <input matInput
                     type="text" formControlName="codeTNVED"/>            
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="measureUnitName">
          <th scope="col" mat-header-cell *matHeaderCellDef>Единица измерения</th>
          <td class="row-value" mat-cell *matCellDef="let element;let i = index;" [formGroupName]="i">
            <mat-form-field appearance="fill" floatLabel="always">
              <app-auto-complete-search-uom
                formControlName="measureUnitId"
              ></app-auto-complete-search-uom>
              <mat-error *ngIf="element.get('measureUnitId').hasError('required')">
                Единица измерения товара отсутствует
              </mat-error>
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th scope="col" mat-header-cell *matHeaderCellDef>Количество (объем)</th>
          <td class="row-value" mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
            <mat-form-field appearance="fill">
              <input matInput [decimals]="6" restrictedDecimals
                     type="number" formControlName="quantity"  (change)="updateSum(element)"/>
              <mat-error *ngIf="element.get('quantity').hasError('required')">Поле является обязательным для заполнения</mat-error>
              <mat-error *ngIf="element.get('quantity').hasError('positiveNumber') && !element.get('quantity').hasError('required')">
                Поле 'Количество' не может быть отрицательным
              </mat-error>
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="netWeight">
          <th scope="col" mat-header-cell *matHeaderCellDef>Вес нетто</th>
          <td class="row-value" style="height: auto !important;" mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
            <mat-form-field appearance="fill">
              <input matInput [decimals]="3" restrictedDecimals
                     type="number" formControlName="netWeight"/>
              <mat-error *ngIf="element.get('netWeight').hasError('required')">Поле является обязательным для заполнения при ввозе/вывозе товаров в рамках ЕАЭС</mat-error>
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      
        <ng-container matColumnDef="price">
          <th scope="col" mat-header-cell *matHeaderCellDef>Цена за единицу</th>
          <td class="row-value" mat-cell *matCellDef="let element;let i=index" [formGroupName]="i">
            <mat-form-field appearance="fill">
              <input matInput [decimals]="6" restrictedDecimals
                type="number" formControlName="price"
                (change)="updateSum(element)" />
              <mat-error *ngIf="element.get('price').hasError('required')">Поле является обязательным для заполнения</mat-error>
              <mat-error *ngIf="element.get('price').hasError('positiveNumber') && !element.get('price').hasError('required')">
                Поле 'Цена за единицу' не может быть отрицательным
              </mat-error>
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      
        <ng-container matColumnDef="sum">
          <th scope="col" mat-header-cell *matHeaderCellDef>Стоимость товара без косвенных налогов</th>
          <td class="row-value" mat-cell *matCellDef="let element;let i=index" [formGroupName]="i">
            <mat-form-field appearance="fill">
              <input matInput [decimals]="3" restrictedDecimals
                     type="number" formControlName="sum" />
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef>{{ calculateTotal('sum') }}</td>
        </ng-container> 
        <ng-container matColumnDef="vadRate">
          <th scope="col" mat-header-cell *matHeaderCellDef>НДС-ставка</th>
          <td class="row-value" mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
            <mat-form-field appearance="fill">
              <mat-select formControlName="vadRate" (selectionChange)="onVadRateChange(element)">
                <mat-option *ngFor="let rate of vadRates" [value]="rate.value">
                  {{rate.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="element.get('vadRate').hasError('vadRateRequired')">
                Поле 'НДС-ставка' не заполнено
              </mat-error>
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="vadSum">
          <th scope="col" mat-header-cell *matHeaderCellDef>НДС-сумма</th>
          <td class="row-value" mat-cell *matCellDef="let element;let i=index" [formGroupName]="i">
            <mat-form-field appearance="fill">
              <input matInput [decimals]="3" restrictedDecimals
                     type="number" formControlName="vadSum" />
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef>{{ calculateTotal('vadSum') }}</td>
        </ng-container>

        <ng-container matColumnDef="totalSumWithIndirectTaxes">
          <th scope="col" mat-header-cell *matHeaderCellDef>Стоимость товаров, работ, услуг с учетом косвенных налогов</th>
          <td class="row-value" mat-cell *matCellDef="let element;let i=index" [formGroupName]="i">
            <mat-form-field appearance="fill">
              <input matInput [decimals]="3" restrictedDecimals
                     type="number" formControlName="totalSumWithIndirectTaxes" />
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef>{{ calculateTotal('totalSumWithIndirectTaxes') }}</td>
        </ng-container>
        
        <ng-container matColumnDef="actions" *ngIf="mode !== 2">
          <th scope="col" mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element; let i = index;">
            <button class="product-action-button"  mat-raised-button (click)="removeProduct(i)">x</button>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      </ng-container>
      
      <ng-container *ngFor="let headerNumber of numberHeaderRowDefs; let i = index" matColumnDef="{{headerNumber}}">
        <th scope="col" mat-header-cell *matHeaderCellDef>
          <span *ngIf="i==numberHeaderRowDefs.length-1 && mode !== 2; else iteration">
            <button class="product-action-button"  mat-raised-button (click)="addProduct()"  [disabled]="!warehouses">+</button>
          </span>
          <ng-template #iteration>
            <span>{{i+1}}</span>
          </ng-template>
        </th>
      </ng-container>
      <tr mat-footer-row class="sticky-footer" *matFooterRowDef="displayedColumns"></tr>
    </table>    
</form>
