<div class="row">
  <div class="col">
    <app-allnotification-filters
      #notificationFilters
      (notificationsFilterEvent)="filterNotifications($event)"
    ></app-allnotification-filters>
  </div>
</div>

<div class="row" id="buttons-pagination" fxLayoutAlign="right">
  <mat-paginator
    [length]="resultsLength"
    [pageSize]="15"
    [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="true"
    fxFlex="auto"
  >
  </mat-paginator>
</div>

<div class="row mt-2" id="table-notifications">
  <div class="col">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      aria-label="Notifications"
    >
      <ng-container matColumnDef="actionType">
        <th scope="col" mat-header-cell *matHeaderCellDef>Действие</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngFor="let line of getNotificationMessage(element)">
            <div>{{ line }}</div>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="responseDateTime">
        <th scope="col" mat-header-cell *matHeaderCellDef>Дата</th>
        <td mat-cell *matCellDef="let element">
          {{ element.responseDateTime | date : "dd/MM/yyyy hh:mm:ss" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th scope="col" mat-header-cell *matHeaderCellDef>Результат</th>
        <td mat-cell *matCellDef="let element">
          <div>
          <mat-icon
            [ngStyle]="{ color: getIconColorByStatus(element.status) }"
            >{{ getIconByStatus(element.status) }}</mat-icon
          > {{ getStatusText(element.status) }}
        </div>
        <div>
          <span *ngIf="isFieldDisplayed(element, 'cancelReason')" [innerHTML]="element.cancelReason"></span>
          <span *ngIf="isFieldDisplayed(element, 'registrationNumber')">{{ element.registrationNumber }}</span>
        </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [hidden]="dataSource.loading | async"
      ></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          Нет совпадений по заданному фильтру.
        </td>
      </tr>
    </table>
  </div>
</div>
<app-loading
  *ngIf="dataSource.loading | async"
  [textLoading]="true"
  [widthPx]="100"
></app-loading>
