<div [formGroup]="draftInvoiceForm">
  <div formGroupName="related">
    <table name="relatedInvoice">
      <tbody>
      <tr>
        <td [colSpan]="2">
          <div>
            Вид счет-фактуры
          </div>
        </td>
      </tr>
  
      <tr>
        <td> 
          <div>
            <!-- Fixed -->
            <span class="checkbox-prefix">
              4.
  
            </span>
            <mat-checkbox formControlName="fixedInvoiceCheckBox">
              Исправленный
            </mat-checkbox>
          </div>
        </td>
      </tr>
  
      <tr>
        <td> 
          <div>
            <!-- Additional -->
            <span class="checkbox-prefix">
              5.
  
            </span>
            <mat-checkbox formControlName="additionalInvoiceCheckBox">
              Дополнительный
            </mat-checkbox>
          </div>
        </td>
      </tr>
      <div *ngIf="invoiceDetails.enableInvoiceDetails"> 
        <tr> 
          <td> {{invoiceDetails.date}}</td>
           <td>
             <mat-form-field class="form-field" appearance="outline">
               <input matInput formControlName="date">
             </mat-form-field>
           </td>
        </tr>
        <tr>
           <td>{{invoiceDetails.num}}</td>
           <td>
             <mat-form-field class="form-field" appearance="outline">
               <input matInput onlyDigits type="text" placeholder="Номер учетной системы"
                 formControlName="num" />
             </mat-form-field>
           </td>
        </tr>
        <tr>
           <td>{{invoiceDetails.regNum}}</td>
           <td>
             <mat-form-field class="form-field" appearance="outline">
               <input matInput onlyDigits type="text" placeholder="Регистрационный номер"
                 formControlName="regNum" />
             </mat-form-field>
           </td>
        </tr>
      </div>
    </tbody>
  </table>
  </div>  
</div>
