<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>expand_more</mat-icon> Фильтры
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div [formGroup]="filterForm">
      <form #filterNotificationsForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>«с»:</mat-label>
          <input matInput [matDatepicker]="dateFromPicker" name="dateFrom"  [(ngModel)]="model.dateFrom" />
          <mat-datepicker-toggle matSuffix [for]="dateFromPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateFromPicker></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>«по»:</mat-label>
          <input matInput [matDatepicker]="dateToPicker" name="dateTo"  [(ngModel)]="model.dateTo" />
          <mat-datepicker-toggle matSuffix [for]="dateToPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateToPicker></mat-datepicker>
        </mat-form-field>

  
     
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Тип Документа</mat-label>
          <mat-select name="documentType" [(ngModel)]="model.documentTypes" multiple name="documentTypes">
            <mat-option #allDocTypesSelected [value]="'all'" (click)="selectAllDocType()">Все</mat-option>
            <mat-option *ngFor="let docType of documentType" [value]="docType.value" (click)="selectDocType()">{{ docType.viewValue
              }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Действие</mat-label>
          <mat-select name="actionType" [(ngModel)]="model.actionTypes" multiple name="actionTypes">
            <mat-option #allActionTypesSelected [value]="'all'" (click)="selectAllActionType()">Все</mat-option>
            <mat-option *ngFor="let actType of actionType" [value]="actType.value" (click)="selectActionType()">{{ actType.viewValue
              }}</mat-option>
          </mat-select>
        </mat-form-field>
    
        <div class="filter-buttons">          
          <button mat-raised-button type="button" (click)="onReset(filterNotificationsForm)">Очистить</button>
          <button type="submit" mat-raised-button class="ml-2 primary-color">Поиск</button>
        </div>      
    </form>
  </div>
    </mat-expansion-panel>
  </mat-accordion>
  