<div class="mainsection">
  <form *ngIf="!isLoading; else spinner" [formGroup]="deps.draftInvoiceForm">
    <div class="list-and-sections">
      <div class="list-sections">
        <ul>
          <li (click)="currentSection = 'A'" [class.active]="currentSection === 'A'">
            <span>Раздел А. Общий раздел</span>

            <span class="errors-counter" *ngIf="getSectionErrorCount('A')>0">{{getSectionErrorCount('A')}}</span>
          </li>
          <li (click)="currentSection = 'B'" [class.active]="currentSection === 'B'">
            <span>Раздел В. Реквизиты поставщика</span>
            <span class="errors-counter" *ngIf="getSectionErrorCount('B')">{{getSectionErrorCount('B')}}</span>
          </li>
          <li (click)="currentSection = 'C'" [class.active]="currentSection === 'C'">
            <span>Раздел C. Реквизиты получателя</span>
            <span class="errors-counter" *ngIf="getSectionErrorCount('C') > 0">{{getSectionErrorCount('C')}}</span>
          </li>
          <li (click)="currentSection = 'C1'" [class.active]="currentSection === 'C1'">
            <span>Раздел C1. Реквизиты государственного учреждения</span>
            <span class="errors-counter" *ngIf="getSectionErrorCount('C1') > 0">{{getSectionErrorCount('C1')}}</span>
          </li>
          <li (click)="currentSection = 'D'" [class.active]="currentSection === 'D'">
            <span>Раздел D. Реквизиты грузоотправителя и грузополучателя</span>
            <span class="errors-counter" *ngIf="getSectionErrorCount('D') > 0">{{getSectionErrorCount('D')}}</span>
          </li>
          
          <li (click)="currentSection = 'E'" [class.active]="currentSection === 'E'">
            <span>Раздел E. Договор (контракт)</span>
            <span class="errors-counter" *ngIf="getSectionErrorCount('E') > 0">{{getSectionErrorCount('E')}}</span>
          </li>

          <li (click)="currentSection = 'F'" [class.active]="currentSection === 'F'">
            <span>Раздел F. Реквизиты документов, подтверждающих поставку товаров, работ, услуг</span>
            <span class="errors-counter" *ngIf="getSectionErrorCount('F') > 0">{{getSectionErrorCount('F')}}</span>
          </li>
          <li (click)="currentSection = 'G'" [class.active]="currentSection === 'G'">
            <span>Раздел G. Данные по товарам, работам, услугам</span>
            <span class="errors-counter" *ngIf="getSectionErrorCount('G') > 0">{{getSectionErrorCount('G')}}</span>
          </li>
        </ul>
      </div>

      <div class="sections">
        <div class="section" id="asection" *ngIf="currentSection === 'A'">
          <app-invoice-section-a 
            [draftInvoiceForm]="deps.draftInvoiceForm"
            (onChangeTurnoverDate)="onUpdateCurrenccRate($event)"
          >
          </app-invoice-section-a>
        </div>
        <div class="section" id="bsection" *ngIf="currentSection === 'B'">
          <app-invoice-section-b [draftInvoiceForm]="deps.draftInvoiceForm">
          </app-invoice-section-b>
        </div>
        <div class="section" id="csection" *ngIf="currentSection === 'C'">
          <app-invoice-section-c class="section" id="csection" *ngIf="currentSection === 'C'"
            [draftInvoiceForm]="deps.draftInvoiceForm" [countries]="countries"
            [favouriteCountries]="favouriteCountries"></app-invoice-section-c>
        </div>

        <div class="section" id="c1section" *ngIf="currentSection === 'C1'">
          <app-invoice-section-c1 class="section" id="c1section" *ngIf="currentSection === 'C1'"
            [draftInvoiceForm]="deps.draftInvoiceForm" ></app-invoice-section-c1>
        </div>

        <div class="section" id="dsection" *ngIf="currentSection === 'D'">
          <app-invoice-section-d class="section" id="dsection" [draftInvoiceForm]="deps.draftInvoiceForm"
            [countries]="countries" [favouriteCountries]="favouriteCountries"></app-invoice-section-d>
        </div>
        <div class="section" id="esection" *ngIf="currentSection === 'E'">
          <app-invoice-section-e class="section" id="esection" *ngIf="currentSection === 'E'"
            [draftInvoiceForm]="deps.draftInvoiceForm"></app-invoice-section-e>
        </div>
        <div class="section" id="fsection" *ngIf="currentSection === 'F'">
          <app-invoice-section-f class="section" id="fsection" *ngIf="currentSection === 'F'"
            [draftInvoiceForm]="deps.draftInvoiceForm"
            (awpWorksPerformedSelected)="onAwpWorksPerformedChange($event)"
            (sntProductsBySntId)="onSntProductsBySntIdChange($event)"
          ></app-invoice-section-f>
        </div>
      </div>
    </div>
    <div class="section" id="gsection">
      <app-invoice-section-g [currencies]="currencies" [favouriteCurrencies]="favouriteCurrencies"
        [measureUnits]="measureUnits" [favouriteMeasureUnits]="favouriteMeasureUnits"
        [invoiceForm]="deps.draftInvoiceForm"></app-invoice-section-g>
    </div>
    <div class="create-form-buttons">
      <button *ngIf="hasAccess(eiArAccessControlList.get('send'))"
              class="create-form-buttons-color"
              mat-raised-button type="submit"
              [disabled]="deps.draftInvoiceForm.invalid||deps.draftInvoiceForm.disabled||isSentInvoice()"
              [hidden]="isReadOnlyInvoice()"
              (click)="save()">
        Отправить
      </button>
      <button *ngIf="hasAccess(eiArAccessControlList.get('save_draft'))"
              [disabled]="deps.draftInvoiceForm.invalid||deps.draftInvoiceForm.disabled||isSentInvoice()"
              class="create-form-buttons-color"
              mat-raised-button type="submit"
              [hidden]="isReadOnlyInvoice() || isSavedForSign"
              (click)="saveDraft()">
              Сохранить на подписание
      </button>
      <button
        *ngIf="hasAccess(eiArAccessControlList.get('get-report'))"
        [hidden]="hideExportButton() || isSavedForSign"
        class="create-form-buttons-color" mat-raised-button 
        [disabled]="loadingReport || disableExportButton()" 
        (click)="onGetInvoiceReport()">
        <div *ngIf="loadingReport" class="spinner-border spinner-border-sm"></div>
        Экспортировать счет
      </button>
      <button class="create-form-buttons-color" mat-raised-button type="submit" (click)="close()">
        Закрыть
      </button>
    </div>
  </form>
</div>
<ng-template #spinner>
  <div style="margin-top: 20%">
    <app-loading [widthPx]="100"></app-loading>
  </div>
</ng-template>
