<div class="mainsection">
  <form
    [formGroup]="deps.formsForm"
    *ngIf="!isLoading && !isSaving && !isSending; else spinner"
  >
    <div>
      <h3 id="form-type-name">ФОРМА {{formTypeName}}</h3>
    </div>
    <div class="list-and-sections">
      <div class="list-sections">
        <ul>
          <li
            (click)="changeSection('asection')"
            [class.active]="currentSection.asection"
          >
            <span>Раздел А. Общий раздел</span>
            <span class="errors-counter" *ngIf="aSectionErrors>0"
              >{{aSectionErrors}}</span
            >
          </li>
          <li
            (click)="changeSection('bsection')"
            [class.active]="currentSection.bsection"
          >
            <span>Реквизиты</span>
          </li>
          <li
            (click)="changeSection('dsection')"
            [class.active]="currentSection.dsection"
          >
            <span>Раздел D. Склад</span>
            <span class="errors-counter" *ngIf="dSectionErrors>0"
              >{{dSectionErrors}}</span
            >
          </li>
          <li
            (click)="goto('esection'); changeSection('esection')"
            [class.active]="currentSection.esection"
          >
            <span>Раздел E. Товары</span>
            <span class="errors-counter" *ngIf="eSectionErrors>0"
              >{{eSectionErrors}}</span
            >
          </li>
        </ul>
      </div>

      <div class="sections" *ngIf="!currentSection.esection">
        <div class="section" id="asection" *ngIf="currentSection.asection">
          <app-form-section-a
            [newFormCreate]="deps.formsForm"            
          >
          </app-form-section-a>
        </div>

        <div class="section" id="bsection" *ngIf="currentSection.bsection">
          <app-form-section-b
            [newFormCreate]="deps.formsForm"
            [isUserProfileLoading]="isLoading"
          ></app-form-section-b>
        </div>
        <div class="section" id="dsection" *ngIf="currentSection.dsection">
          <app-form-section-d
            [newFormCreate]="deps.formsForm"
            [warehouses]="warehouses"
            [defaultWarehouse]="defaultWarehouse"
            [isWarehousesLoading]="isLoading"
          >
          </app-form-section-d>
        </div>
      </div>
    </div>

    <div class="full-section" id="esection">
      <h3 *ngIf="showDuplicatedTable">Раздел E1. Исходные товары </h3>
      <app-form-section-e  
        (getSectionE2Elements) = "setSectionE2Elements($event)"      
        [measureUnits]="measureUnits"
        [favouriteMeasureUnits]="favouriteMeasureUnits"
        [countries]="countries"
        [favouriteCountries]="favouriteCountries"
        [form]="deps.formsForm">
      </app-form-section-e>
      <h3 *ngIf="showDuplicatedTable">Раздел E2. Товары</h3>
      <app-form-section-e2 
        [formSectionE]="deps.formsForm"
        [countries]="countries"
        [measureUnits]="measureUnits"
        [favouriteMeasureUnits]="favouriteMeasureUnits"
        [favouriteCountries]="favouriteCountries" 
        [showDuplicatedTable]="showDuplicatedTable">
      </app-form-section-e2>
    </div>
    <div class="create-form-buttons" *ngIf="isSaveAvailable">
      <button
        *ngIf="hasAccess(formSaveAccessControlList.get(formType))"
        mat-raised-button
        type="submit"
        (click)="saveDraft()"
        [disabled]="isLoading"
      >
        Сохранить как черновик
      </button>
      <button
        *ngIf="hasAccess(formSendAccessControlList.get(formType))"
        mat-raised-button
        type="submit"
        (click)="send()"
        [disabled]="isLoading || isSaveButtonDisabled()"
      >
        Отправить
      </button>
    </div>
  </form>
</div>

<ng-template #spinner>
  <div style="margin-top: 20%">
    <app-loading [widthPx]="100"></app-loading>
  </div>
</ng-template>
