<h2 mat-mat-dialog-title>Товары</h2>
<form [formGroup]="addProductForm">
<div mat-dialog-content>
    <!-- TODO: Consider moving template of each propery to class -->
      <table role="presentation">
        <tbody>
          <tr>
            <td>Товар</td>
            <td>
              <button mat-button color="primary" type="button" (click)="selectProduct()">Выбрать товар</button>
              <span style="color:#f44336; float:right" *ngIf="id.errors?.required">Выберите товар</span>
            </td>
          </tr>

          <tr>
            <td>Наименование товаров, работ, услуг</td>
            <td>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Наименование товаров, работ, услуг</mat-label>
                <textarea matInput formControlName="name" rows="3" type="text" placeholder="Наименование товаров, работ, услуг" required></textarea>
              </mat-form-field>
            </td>
          </tr>
          <tr *ngIf="this.product.hasOwnProperty('truOriginCode')">
            <td>Признак происхождения товаров, работ, услуг</td>
            <td>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Признак происхождения товаров, работ, услуг</mat-label>
                <mat-select formControlName="truOriginCode" [required]="this.product.hasOwnProperty('truOriginCode')">
                  <mat-option *ngFor="let truOriginCode of truOriginCodes" [value]="truOriginCode.value">
                    {{truOriginCode.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Составной код ГСВС</td>
            <td>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Составной код ГСВС</mat-label>
                <input formControlName="compositeGsvsCode" matInput type="text">
              </mat-form-field>
            </td>
          </tr>

          <tr *ngIf="this.product.hasOwnProperty('productIdentificator')">
            <td>Идентификатор товара</td>
            <td>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Идентификатор товара</mat-label>
                <input formControlName="productIdentificator" matInput type="text">
              </mat-form-field>
            </td>
          </tr>

          <tr *ngIf="this.product.hasOwnProperty('dutyType')">
            <td>Тип пошлины</td>
            <td>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Тип пошлины</mat-label>
                <mat-select formControlName="dutyType" required>
                  <mat-option *ngFor="let dutyType of dutyTypes" [value]="dutyType.value">
                    {{dutyType.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>Единица измерения</td>
            <td>
              <mat-form-field class="form-field" appearance="outline" floatLabel="always">
                <mat-label>Единица измерения</mat-label>
                <app-auto-complete-search-uom
                  formControlName="unitOfMeasurement"
                ></app-auto-complete-search-uom>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>Количество (объем)</td>
            <td>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Количество (объем)</mat-label>
                <input formControlName="quantity" matInput type="number" placeholder="Количество (объем)" min="0">
                <mat-error *ngIf="addProductForm.get('quantity').hasError('positiveNumber') && !addProductForm.get('quantity').hasError('required')">
                  Поле 'Количество (объем)' не может быть отрицательным
                </mat-error>
                <mat-error *ngIf="addProductForm.get('quantity').hasError('max')">
                  Недостаточно товаров на складе
                </mat-error>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>Цена за единицу</td>
            <td>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Цена за единицу</mat-label>
                <input formControlName="price" matInput type="text" placeholder="Цена за единицу" min="0" appTwoDigitDecimaNumber>
                <mat-error *ngIf="addProductForm.get('price').hasError('positiveNumber') && !addProductForm.get('price').hasError('required')">
                  Поле 'Цена за единицу' не может быть отрицательным
                </mat-error>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>Сумма</td>
            <td>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Сумма</mat-label>
                <input formControlName="sum" matInput type="number" placeholder="Сумма">
                <mat-error *ngIf="addProductForm.get('sum').hasError('positiveNumber') && !addProductForm.get('sum').hasError('required')">
                  Поле 'Сумма' не может быть отрицательным
                </mat-error>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>Код ТН ВЭД ЕАЭС</td>
            <td>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Код ТН ВЭД ЕАЭС</mat-label>
                <input formControlName="codeTNVED" matInput type="text" placeholder="Код ТН ВЭД ЕАЭС">
              </mat-form-field>
            </td>
          </tr>

          <tr *ngIf="this.product.hasOwnProperty('manufactureOrImportCountry')">
            <td> Страна импорта/производства</td>
            <td>
              <mat-form-field class="form-field" appearance="outline" floatLabel="always">
                <mat-label>Страна импорта/производства</mat-label>
                <app-auto-complete-search-country
                  [countrySearchAmount]="0"
                  formControlName="manufactureOrImportCountry"
                ></app-auto-complete-search-country>
              </mat-form-field>
            </td>
          </tr>

          <tr *ngIf="this.product.hasOwnProperty('manufactureOrImportDocNumber')">
            <td> № документа производства/импорта (ДТ, ФНО 328.00, CT-KZ, CT-1)</td>
            <td>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>№ документа производства/импорта (ДТ, ФНО 328.00, CT-KZ, CT-1)</mat-label>
                <input formControlName="manufactureOrImportDocNumber"
                       matInput type="text"
                       placeholder="№ документа производства/импорта (ДТ, ФНО 328.00, CT-KZ, CT-1)"
                       [required]="addProductForm.get('truOriginCode').value == 1 || addProductForm.get('truOriginCode').value == 2">
              </mat-form-field>
            </td>
          </tr>

          <tr *ngIf="this.product.hasOwnProperty('productNumberInImportDoc')">
            <td> Номер товарной позиции из документа импорта (ДТ или ФНО 328.00)</td>
            <td>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Номер товарной позиции из документа импорта (ДТ или ФНО 328.00)</mat-label>
                <input formControlName="productNumberInImportDoc"
                       matInput type="text"
                       placeholder="Номер товарной позиции из документа импорта (ДТ или ФНО 328.00)"
                       [required]="addProductForm.get('truOriginCode').value == 1 || addProductForm.get('truOriginCode').value == 2">
              </mat-form-field>
            </td>
          </tr>

          <tr *ngIf="this.product.hasOwnProperty('productNameInImportDoc')">
            <td> Наименование товаров в соответствии с документом импорта (ДТ или ФНО 328.00)</td>
            <td>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Наименование товаров в соответствии с документом импорта (ДТ или ФНО 328.00)</mat-label>
                <input formControlName="productNameInImportDoc" matInput type="text" placeholder="Наименование товаров в соответствии с документом импорта (ДТ или ФНО 328.00)">
              </mat-form-field>
            </td>
          </tr>

          <tr *ngIf="this.product.hasOwnProperty('pinCode')">
            <td> Пин-код</td>
            <td>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Пин-код</mat-label>
                <input formControlName="pinCode" matInput type="text" placeholder="Пин-код">
                <mat-error *ngIf="addProductForm.get('pinCode').hasError('minlength') || addProductForm.get('pinCode').hasError('maxlength')">
                  Поле 'Пин-код' должно содержать от 11 до 12 символов
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </table>

</div>
<div mat-dialog-actions align="center">
  <button mat-button  (click)="onNoClick()">Закрыть</button>
  <button mat-button type="submit" (click)="onProductAdd()">Готово</button>
</div>
</form>
