.header{
    text-align: center;
    margin-bottom: 20px;
}
.dsign-widget{
    width: 98%;
    height: 200px;
    margin: 10px;
}
.widget-status {
    display: flex;
    align-items: center;
}
  
.status-icon {
    margin-right: 10px;
}
.light-text {
    color: rgb(170, 170, 170);
}
.hyperlink {
    color: #015467;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .hyperlink:hover {
    color: #013844;
  }