<div>
  <div [formGroup]="newFormCreate" *ngIf="!isWarehousesLoading">
    <div formGroupName="warehouse">

      <h3>Раздел D. Склад</h3>

      <div>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label for="warehouseSelector">Склад</mat-label>
          <mat-select formControlName="warehouseSelector" (selectionChange)="selectWarehouse($event.value)">
            <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
              {{warehouse.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label for="warehouseIdForm">Идентификатор склада</mat-label>
          <input matInput formControlName="warehouseIdForm">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label for="warehouseNameForm">Наименование склада</mat-label>
          <input matInput formControlName="warehouseNameForm">
        </mat-form-field>
      </div>
      <div *ngIf="this.formType === formTypeEnums.MOVEMENT">
        <div>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label for="receiverWarehouseSelector">Склад-получатель</mat-label>
            <mat-select formControlName="receiverWarehouseSelector"
              (selectionChange)="selectReceiverWarehouse($event.value)">
              <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
                {{warehouse.name}}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="newFormCreate.get('warehouse.receiverWarehouseSelector').errors?.receiverSameAsSenderWarehouse">
              Склад-получатель не должен быть идентичным Складу-отправителю
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label for="receiverWarehouseIdForm">Идентификатор склада</mat-label>
            <input matInput formControlName="receiverWarehouseIdForm">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label for="receiverWarehouseNameForm">Наименование склада</mat-label>
            <input matInput formControlName="receiverWarehouseNameForm">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <app-loading *ngIf="isWarehousesLoading"></app-loading>
</div>
