.product-action-button{
    background-color: #016F89;
    color: #fff;
  }
  
  th, td{
    text-align: center !important;
  }
  #table-scroll{
    max-height: 700px;
    overflow: auto;
    padding-top: 0px !important;
  }

  .d-flex{
    display: flex !important;
    flex-direction: column;
  }

  button{
    margin-bottom: 2px;
    margin-top: 2px;
  }

  h3{
    margin-top: 25px;
  }