<div class="auth-ticket-status-container" *ngIf="showForCurrentUser">
  <a mat-icon-button 
     (click)="openMenu()" 
     [matMenuTriggerFor]="menu" 
     #authMenuTrigger="matMenuTrigger" 
     aria-label="Показать статус авторизации">
    <mat-icon class="icon" matBadgeColor="accent">
      {{ hasAuthXml ? 'verified_user' : 'gpp_bad' }}
    </mat-icon>
  </a>

  <mat-menu #menu="matMenu" class="auth-ticket-status-menu" [overlapTrigger]="false">
    <div class="auth-ticket-status-content" 
        [innerHTML]="authTicketStatusMessage" 
        (click)="onMessageClick($event)">
    </div>
  </mat-menu>
</div>
