<h2 fxLayout="column" mat-mat-dialog-title>{{data.title}}</h2>
<form fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="10px" [formGroup]="productsForm" class="formFieldSubscriptWrapperPositionAbsolute">
  <div fxLayout="column">
    <button  mat-raised-button (click)="send()" [disabled]="productsForm.invalid">Готово</button>
  </div>
  <div fxLayout="column">
    <mat-table  [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container formArrayName="products">
            <ng-container matColumnDef="name">
              <th scope="col" mat-header-cell *matHeaderCellDef> Наименование ТРУ из учетной Системы НП </th>
              <td mat-cell *matCellDef="let element"> {{element.get('name').value}} </td>
            </ng-container>
            <ng-container matColumnDef="selectedQuantity">
              <th scope="col" mat-header-cell *matHeaderCellDef> Количество</th>
              <td mat-cell *matCellDef="let element;let i=index" [formGroupName]="i">
                  <mat-form-field appearance="fill">
                      <input matInput placeholder="Количество" [decimals]="6"
                        type="number" formControlName="selectedQuantity" restrictedDecimals
                        />
                      <mat-error *ngIf="element.get('selectedQuantity').hasError('max')">Поле "Количество" не может быть больше чем поле "Всего"</mat-error>
                      <mat-error *ngIf="element.get('selectedQuantity').hasError('required')">Поля является обязательным для заполнения</mat-error>
                      <mat-error *ngIf="element.get('selectedQuantity').hasError('positiveNumber') && !element.get('selectedQuantity').hasError('required')">
                        Поле 'Количество' не может быть отрицательным
                      </mat-error>
                  </mat-form-field>
              </td>
            </ng-container>
            <ng-container matColumnDef="quantity">
              <th scope="col" mat-header-cell *matHeaderCellDef> Всего</th>
              <td mat-cell *matCellDef="let element">{{element.get('quantity')?.value}}</td>
            </ng-container>
            <ng-container matColumnDef="reserveQuantity">
              <th scope="col" mat-header-cell *matHeaderCellDef> Количество товаров в резерве</th>
              <td mat-cell *matCellDef="let element"> {{element.get('reserveQuantity').value}} </td>
            </ng-container>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
  </div>
</form>



