<div *ngIf="!isLoading;else spinner" fxLayout='column'>
  <div mat-dialog-content >
      <h1>Укажите причину отзыва:</h1>
  </div>
  <div mat-dialog-content>
      <mat-form-field fxFlex appearance="outline">
          <mat-label>Выберите ошибку</mat-label>
          <mat-select  [formControl]="sectionFormControl">
              <mat-option *ngFor="let section of sections" [value]="section.viewValue">
                  {{section.viewValue}}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="sectionFormControl.hasError('required')">
              Поле не должно быть пустым
          </mat-error>
        </mat-form-field>
  </div>
  <div mat-dialog-content>
      <mat-form-field fxFlex appearance="outline">
          <mat-label>Комментарий</mat-label>
          <textarea matInput #description
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="5"
                    cdkAutosizeMaxRows="20"></textarea>
        </mat-form-field>
  </div>
  <div mat-dialog-actions fxFlex>
      <button mat-button (click)="onCancel()">Отмена</button>
      <button mat-button color="warn" (click)="onRevoke()"
          [disabled]="!sectionFormControl.valid"
          cdkFocusInitial
      >Отозвать</button>
  </div>
</div>
<ng-template #spinner>
  <app-loading [widthPx]='50'></app-loading>
</ng-template>
