<div [formGroup]="draftInvoiceForm">
  <h3>Раздел B. Реквизиты поставщика</h3>
  <div formGroupName="seller">
    <table role="presentation">
      <tbody>
        <tr>
          <td>6. ИИН/БИН*</td>
          <td>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>ИИН/БИН</mat-label>
              <input matInput type="text" placeholder="ИИН/БИН" formControlName="tin" />
            </mat-form-field>
            <mat-error *ngIf="draftInvoiceForm.get('seller.tin').hasError('required')">
              Поле является обязательным для заполнения
            </mat-error>
            <mat-error *ngIf="
            (draftInvoiceForm.get('seller.tin').hasError('minlength') || draftInvoiceForm.get('seller.tin').hasError('maxlength'))">
              ИИН/БИН получателя должен быть 12 символов
            </mat-error>
            <mat-error *ngIf="
            (draftInvoiceForm.get('seller.tin').hasError('minlength') || draftInvoiceForm.get('seller.tin').hasError('maxlength'))">
              Количество чисел должно быть между 1 и 50
            </mat-error>
            <mat-error *ngIf="draftInvoiceForm.get('seller.tin').hasError('pattern')">
              Надо только ввести числа
            </mat-error>
          </td>
        </tr>
        <tr>
          <td>7. Поставщик*</td>
          <td>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Поставщик</mat-label>
              <textarea matInput rows="3" type="text" placeholder="Поставщик" formControlName="name">
          </textarea>
              <mat-error *ngIf="draftInvoiceForm.get('seller.name').errors?.required">
                Поставщик
                отсутствует
              </mat-error>
              <mat-error *ngIf="draftInvoiceForm.get('seller.name').hasError('minlength') && !draftInvoiceForm.get('seller.name').hasError('required')">
                Поле 'Поставщик' должно содержать от 3 до 450 символов
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>8. Адрес места нахождения*</td>
          <td>
            <mat-form-field class="form-field" appearance="outline">
              <textarea matInput type="text" placeholder="Адрес места нахождения" formControlName="address"></textarea>
              <mat-error *ngIf="draftInvoiceForm.get('seller.address').hasError('required')">
                Поле 'Адрес места нахождения' отсутствует
              </mat-error>
              <mat-error *ngIf="draftInvoiceForm.get('seller.address').hasError('minlength') && !draftInvoiceForm.get('seller.address').hasError('required')">
                Поле 'Адрес места нахождения' должно содержать от 3 до 450 символов
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>9.1. Серия свидетельства плательщика НДС*</td>
          <td>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Серия свидетельства плательщика НДС</mat-label>
              <input matInput type="text" placeholder="Серия свидетельства плательщика НДС"
                     formControlName="certificateSeries" />
            </mat-form-field>
            <mat-error *ngIf="draftInvoiceForm.get('seller.certificateSeries').hasError('required')">
              Поле является обязательным для заполнения
            </mat-error>
          </td>
        </tr>

        <tr>
          <td>9.2. Номер свидетельства плательщика НДС*</td>
          <td>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Номер свидетельства плательщика НДС</mat-label>
              <input matInput type="text" placeholder="Номер свидетельства плательщика НДС"
                     formControlName="certificateNum" />
            </mat-form-field>
            <mat-error *ngIf="draftInvoiceForm.get('seller.certificateNum').hasError('required')">
              Поле является обязательным для заполнения
            </mat-error>
          </td>
        </tr>

        <tr>
          <td>10. Категория поставщика</td>
          <td class="with-checkbox">
            <div>
              <!-- COMMITTENT -->
              <span class="checkbox-prefix">
                A

              </span>
              <mat-checkbox formControlName="commitentCheckBox"
                            (change)="onCategoryChanged($event.checked, 'COMMITTENT')">
                Комитент
              </mat-checkbox>
            </div>
            <div>
              <!-- BROKER -->
              <span class="checkbox-prefix">
                B

              </span>
              <mat-checkbox formControlName="brokerCheckBox" (change)="onCategoryChanged($event.checked, 'BROKER')">
                Комиссионер
              </mat-checkbox>
            </div>
            <div>
              <!-- FORWARDER -->
              <span class="checkbox-prefix">
                C

              </span>
              <mat-checkbox formControlName="forwarderCheckBox" (change)="onCategoryChanged($event.checked, 'FORWARDER')">
                Экспедитор
              </mat-checkbox>
            </div>
            <div>
              <!-- LESSOR -->
              <span class="checkbox-prefix">
                D

              </span>
              <mat-checkbox formControlName="lessorCheckBox" (change)="onCategoryChanged($event.checked, 'LESSOR')">
                Лизингодатель
              </mat-checkbox>
            </div>
            <div>
              <!-- SHARING_AGREEMENT_PARTICIPANT -->
              <span class="checkbox-prefix">
                E

              </span>
              <mat-checkbox formControlName="sharingAgreementParticipantCheckBox"
                            (change)="onCategoryChanged($event.checked, 'SHARING_AGREEMENT_PARTICIPANT')">
                Участник СРП или сделки, заключенной в рамках СРП
              </mat-checkbox>
            </div>
            <div>
              <!-- JOINT_ACTIVITY_PARTICIPANT -->
              <span class="checkbox-prefix">
                F

              </span>
              <mat-checkbox formControlName="jointActivityParticipantCheckBox"
                            (change)="onCategoryChanged($event.checked, 'JOINT_ACTIVITY_PARTICIPANT')">
                Участник договора о совместной деятельности
              </mat-checkbox>
            </div>
            <div>
              <!-- EXPORTER -->
              <span class="checkbox-prefix">
                G

              </span>
              <mat-checkbox formControlName="exporterCheckBox" (change)="onCategoryChanged($event.checked, 'EXPORTER')">
                Экспортер
              </mat-checkbox>
            </div>
            <div>
              <!-- TRANSPORTER -->
              <span class="checkbox-prefix">
                H

              </span>
              <mat-checkbox formControlName="transporterCheckBox"
                            (change)="onCategoryChanged($event.checked, 'TRANSPORTER')">
                Международный перевозчик
              </mat-checkbox>
            </div>
            <div>
              <!-- PRINCIPAL -->
              <span class="checkbox-prefix">
                I

              </span>
              <mat-checkbox formControlName="principalCheckBox" (change)="onCategoryChanged($event.checked, 'PRINCIPAL')">
                Доверитель
              </mat-checkbox>
            </div>
          </td>
        </tr>
        <tr>
          <td>11. Дополнительные сведения</td>
          <td>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Дополнительные сведения</mat-label>
              <input matInput type="text" placeholder="Дополнительные сведения" formControlName="trailer" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td [colSpan]="2">
            <div class="alert alert-warning" role="alert">
              Раздел B1. Банковские реквизиты поставщика
            </div>
          </td>
        </tr>
        <tr>
          <td>12. КБе</td>
          <td>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>КБе</mat-label>
              <input matInput type="text" placeholder="КБе" onlyDigits formControlName="kbe" (change)="onBankDetailsChange()" />
              <mat-error *ngIf="draftInvoiceForm.get('seller.kbe').hasError('bankDetailsRequired')">
                Если получатель - гос. учреждение, то необходимо заполнить 'КБе' у всех поставщиков
              </mat-error>
              <mat-error *ngIf="draftInvoiceForm.get('seller.kbe').hasError('bankDetailsFilledAllTogether')">
                Реквизиты поставщика 'КБе', 'БИК', 'ИИК' и 'Наименование банка' заполняются вместе
              </mat-error>
              <mat-error *ngIf="draftInvoiceForm.get('seller.kbe').hasError('pattern')">
                Реквизит поставщика 'КБе' должен быть числовым и содержать 2 цифр
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>13. ИИК</td>
          <td>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>ИИК</mat-label>
              <input matInput type="text" placeholder="ИИК" formControlName="iik" (change)="onBankDetailsChange()" />
              <mat-error *ngIf="draftInvoiceForm.get('seller.iik').hasError('bankDetailsRequired')">
                Если получатель - гос. учреждение, то необходимо заполнить 'ИИК' у всех поставщиков
              </mat-error>
              <mat-error *ngIf="draftInvoiceForm.get('seller.iik').hasError('bankDetailsFilledAllTogether')">
                Реквизиты поставщика 'КБе', 'БИК', 'ИИК' и 'Наименование банка' заполняются вместе
              </mat-error>
              <mat-error *ngIf="draftInvoiceForm.get('seller.iik').hasError('pattern')">
                Реквизит поставщика 'ИИК' должен содержать 20 символов, допустимы только цифры или заглавные буквы латиницы
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>14. БИК</td>
          <td>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>БИК</mat-label>
              <input matInput type="text" placeholder="БИК" formControlName="bik" (change)="onBankDetailsChange()" />
              <mat-error *ngIf="draftInvoiceForm.get('seller.bik').hasError('bankDetailsRequired')">
                Если получатель - гос. учреждение, то необходимо заполнить 'БИК' у всех поставщиков
              </mat-error>
              <mat-error *ngIf="draftInvoiceForm.get('seller.bik').hasError('bankDetailsFilledAllTogether')">
                Реквизиты поставщика 'КБе', 'БИК', 'ИИК' и 'Наименование банка' заполняются вместе
              </mat-error>
              <mat-error *ngIf="draftInvoiceForm.get('seller.bik').hasError('pattern')">
                Реквизит поставщика 'БИК' должен содержать 8 символов, допустимы только цифры или заглавные буквы латиницы
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>15. Наименование Банка</td>
          <td>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Наименование Банка</mat-label>
              <input matInput type="text" placeholder="Наименование Банка" formControlName="bank" (change)="onBankDetailsChange()"/>
              <mat-error *ngIf="draftInvoiceForm.get('seller.bank').hasError('bankDetailsRequired')">
                Если получатель - гос. учреждение, то необходимо заполнить 'Наименование банка' у всех поставщиков
              </mat-error>
              <mat-error *ngIf="draftInvoiceForm.get('seller.bank').hasError('bankDetailsFilledAllTogether')">
                Реквизиты поставщика 'КБе', 'БИК', 'ИИК' и 'Наименование банка' заполняются вместе
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </tbody>
    </table>

  
  </div>
</div>
