<div [formGroup]="draftInvoiceForm">
    <h3>Section D - Реквизиты грузоотправителя и грузополучателя</h3>

    <div class="alert alert-warning" role="alert">
        Грузоотправитель
    </div>

    <table role="presentation" formGroupName="consignor">
        <tbody>
            <tr>
                <td>25.1. ИИН/БИН</td>
                <td>
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>ИИН/БИН</mat-label>
                        <input matInput type="text" placeholder="ИИН/БИН" formControlName="tin" />
                        <mat-error *ngIf="draftInvoiceForm.get('consignor.tin').hasError('pattern')">
                            Надо только ввести числа
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>25.2. Грузоотправитель</td>
                <td>
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Грузоотправитель</mat-label>
                        <textarea matInput rows="3" type="text" placeholder="Наименование" formControlName="name">
                        </textarea>
                        <mat-error
                            *ngIf="draftInvoiceForm.get('consignor.name').hasError('minlength') || draftInvoiceForm.get('consignor.name').hasError('maxlength')">
                            Поле 'Адрес отправки' должно содержать от 3 до 450 символов
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>25.3. Адрес отправки</td>
                <td>
                    <mat-form-field class="form-field" appearance="outline">
                        <textarea matInput type="text" placeholder="Адрес отправки"
                            formControlName="address"></textarea>
                        <mat-error
                            *ngIf="draftInvoiceForm.get('consignor.address').hasError('minlength')  || draftInvoiceForm.get('consignor.address').hasError('maxlength')">
                            Поле 'Адрес отправки' должно содержать от 3 до 450 символов
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </tbody>
    </table>


    <div class="alert alert-warning" role="alert">
        Грузополучатель
    </div>
    <table role="presentation" formGroupName="consignee">
        <tbody>
            <tr>
                <td>26.1. ИИН/БИН <span
                        *ngIf="draftInvoiceForm.get('consignee.countryCode').value === CountryKz">*</span> </td>
                <td>
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>ИИН/БИН</mat-label>
                        <input matInput type="text" placeholder="ИИН/БИН" formControlName="tin" />
                        <mat-error *ngIf="draftInvoiceForm.get('consignee.tin').hasError('pattern')">
                            Надо только ввести числа
                        </mat-error>
                        <mat-error *ngIf="draftInvoiceForm.get('consignee.tin').hasError('required')">
                            Поле 'ИИН/БИН' отсутствует
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>26.2. Грузополучатель <span *ngIf="draftInvoiceForm.get('consignee.name').hasError('required')">*</span></td>
                <td>
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Грузополучатель</mat-label>
                        <textarea matInput rows="3" type="text"
                            placeholder="Наименование" formControlName="name">
                        </textarea>
                        <mat-error
                            *ngIf="draftInvoiceForm.get('consignee.name').hasError('minlength') || draftInvoiceForm.get('consignee.name').hasError('maxlength')">
                            Поле 'Адрес отправки' должно содержать от 3 до 450 символов
                        </mat-error>
                        <mat-error *ngIf="draftInvoiceForm.get('consignee.name').hasError('consigneeNameRequired')">
                            Поле 'Грузополучатель' отсутствует
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>26.3. Адрес отправки <span *ngIf="draftInvoiceForm.get('consignee.name').hasError('required')">*</span></td>
                <td>
                    <mat-form-field class="form-field" appearance="outline">
                        <textarea matInput type="text"
                            placeholder="Адрес отправки" formControlName="address"></textarea>
                        <mat-error
                            *ngIf="draftInvoiceForm.get('consignee.address').hasError('minlength')  || draftInvoiceForm.get('consignee.address').hasError('maxlength')">
                            Поле 'Адрес отправки' должно содержать от 3 до 450 символов
                        </mat-error>
                        <mat-error *ngIf="draftInvoiceForm.get('consignee.address').hasError('consigneeAddressRequired')">
                            Поле 'Адрес отправки' отсутствует
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>26.4. Код страны*</td>
                <td>
                    <mat-form-field class="form-field" appearance="outline">
                        <app-auto-complete-search-country formControlName="countryCode" [countrySearchAmount]="0" (onSelectedEmitter)="onCountryCodeChanged()">
                        </app-auto-complete-search-country>
                        <mat-error *ngIf="draftInvoiceForm.get('consignee.countryCode').hasError('required')">
                            Код страны отсутствует
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </tbody>
    </table>
</div>
