
<div [formGroup]="draftSntForm">
<h3>{{sntSectionsNames.sectiona}}</h3>
<table role="presentation">
  <tbody>
    <tr>
      <td> 1. Регистрационный номер СНТ учетной системы*</td>
      <td>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Регистрационный номер СНТ учетной системы</mat-label>
          <input matInput type="text" placeholder="Регистрационный номер СНТ учетной системы" formControlName="number" />
          <mat-error *ngIf="draftSntForm.get('number').hasError('required')">
            Поле 'Регистрационный номер СНТ учетной системы' отсутствует"
          </mat-error>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>2. Дата оформления СНТ*</td>
      <td>
        <mat-form-field class="form-field" appearance="outline">
          <input matInput formControlName="sntCreationDate">
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>3. Дата отгрузки товара*</td>
      <td>

        <mat-form-field appearance="outline" (click)="goodsShipmentDate.open()">
          <input matInput [matDatepicker]="goodsShipmentDate" [matDatepickerFilter]="dateFn" formControlName="shippingDate">
          <mat-datepicker #goodsShipmentDate></mat-datepicker>
          <mat-error *ngIf="draftSntForm.get('shippingDate').errors?.shippingDateRequired">
            Отсутствует дата отгрузки товара
          </mat-error>
          <mat-error *ngIf="draftSntForm.get('shippingDate').errors?.shippingDateEarlierThanFiveYears">
            Дата отгрузки СНТ не может быть раньше  пяти лет, начиная с текущей даты
          </mat-error>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>4. Регистрационный номер СНТ в ИС ЭСФ</td>
      <td>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Регистрационный номер СНТ в ИС ЭСФ</mat-label>
          <input matInput type="text" formControlName="registrationNumber" placeholder="Регистрационный номер СНТ в ИС ЭСФ" [disabled] />
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>4.1. Дата и время регистрации СНТ в ИС ЭСФ</td>
      <td>
        <mat-form-field class="form-field" appearance="outline">
          <input matInput
                 formControlName="date"
                 value="{{registrationDate}}">
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>4.2. Регистрационный номер Акта/Уведомления по цифровой маркировке</td>
      <td>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Регистрационный номер Акта/Уведомления по цифровой маркировке</mat-label>
          <input matInput type="text" placeholder="Регистрационный номер Акта/Уведомления по цифровой маркировке" formControlName="digitalMarkingNotificationNumber" />
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>4.2.1. Дата Акта/Уведомления по цифровой маркировке</td>
      <td>
        <mat-form-field class="form-field" appearance="outline" (click)="digitalMarkingActDate.open()">
          <input matInput [matDatepicker]="digitalMarkingActDate" formControlName="digitalMarkingNotificationDate">
          <mat-datepicker #digitalMarkingActDate></mat-datepicker>
          <mat-error *ngIf="draftSntForm.get('digitalMarkingNotificationDate').errors?.digitalMarkingNotificationDateRequired">
            Поле 4.2.1 Дата должна быть заполнено
          </mat-error>
        </mat-form-field>
      </td>
    </tr>

    <ng-container *ngIf="sntFacade.fixedSnt || mode === 3">
      <tr>
        <td>5. Исправление СНТ</td>
        <td>
          <mat-checkbox [disabled]="true" [labelPosition]="'after'" [checked]="true"></mat-checkbox>
        </td>
      </tr>

      <tr>
        <td>5.1 Регистрационный номер исправляемой СНТ в ИС ЭСФ</td>
        <td>
          <mat-form-field class="form-field" appearance="outline">
            <input matInput
                   formControlName="relatedRegistrationNumber"
                   [disabled]="true">
          </mat-form-field>
        </td>
      </tr>
    </ng-container>

    <tr>
      <td>7. Ввоз товаров на территорию РК</td>
      <td>
        <mat-form-field class="form-field" appearance="outline">
          <mat-select formControlName="importType" (selectionChange)="onImportTypeChange($event.value)">
            <mat-option *ngFor="let type of sntImportTypes" [value]="type.value">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>8. Вывоз товаров с территории РК</td>
      <td>
        <mat-form-field class="form-field" appearance="outline">
          <mat-select formControlName="exportType" (selectionChange)="onExportTypeChange($event.value)">
            <mat-option *ngFor="let type of sntExportTypes" [value]="type.value">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>9. Перемещение товара</td>
      <td>
        <mat-form-field class="form-field" appearance="outline">
          <mat-select formControlName="transferType" (selectionChange)="onTransferTypeChange($event.value)">
            <mat-option *ngFor="let type of sntTransferTypes" [value]="type.value">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="draftSntForm.get('transferType').errors?.transferTypeCountryMustBeKz">
            При перемещении товаров в пределах одного лица на территории РК, в полях «19. Код страны отправки/отгрузки», «28. Код страны доставки/поставки» должна быть указана страна «Казахстан»
          </mat-error>
          <mat-error *ngIf="draftSntForm.get('transferType').errors?.transferTypeMustBeSameIINBIN">
            При перемещении товара в пределах одного лица должен быть указан один ИИН/БИН или связь между структурным подразделением и головным предприятием не найдена
          </mat-error>
          <mat-error *ngIf="draftSntForm.get('transferType').errors?.transferTypeSellerAndCustomerMustBeEAEU">
            При перемещении товаров в пределах одного лица в рамках ЕАЭС, в полях «18. Код страны регистрации поставщика», «27. Код страны регистрации получателя должна быть страна - ЕАЭС»
          </mat-error>
          <mat-error *ngIf="draftSntForm.get('transferType').errors?.transferTypeSellerOrCustomerMustNotBeEAEU">
            При перемещении товаров в третьи страны, в полях «18. Код страны регистрации поставщика» и «31. Код страны регистрации получателя должна быть указана страна не ЕАЭС».
          </mat-error>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>10. Подакцизные товары (за исключением цифровой маркировки)</td>
    </tr>

    <tr>
      <td>10.5. Нефтепродукты</td>      
      <td class="with-checkbox">
        <mat-checkbox formControlName="hasOilProducts" (change)="onHasOilProductsChanged($event.checked)"></mat-checkbox>
      </td>
    </tr>
    <tr>
      <td>11. Товары, подлежащие экспортному контролю (двойного назначения, военного назначения)</td>      
      <td class="with-checkbox">
        <mat-checkbox formControlName="hasExportControlProducts" (change)="onExportControlProductsChanged($event.checked)"></mat-checkbox>
      </td>
    </tr>
  </tbody>
</table>
</div>
