<h2 mat-dialog-title>Manage Approvers</h2>
<mat-dialog-content class="manage-approvers-dialog">
  <div class="info-text" *ngIf="loadOptionsError">
    Unable to load the latest approver list. Existing assignments can still be edited.
  </div>

  <div class="approvers-table" [class.approvers-table--loading]="isLoadingOptions">
    <div class="approvers-header" role="row">
      <div class="header-cell">Approver</div>
      <div class="header-cell">Endorser</div>
      <div class="header-cell">DOA</div>
      <div class="header-cell header-cell--actions">Delete</div>
    </div>

    <ng-container *ngIf="hasEntries; else emptyState">
      <div class="approvers-row" role="row" *ngFor="let entry of entries; let i = index; trackBy: trackByUserId">
        <div class="approvers-cell">
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Approver</mat-label>
            <mat-select
              [value]="entry.userId || null"
              (selectionChange)="updateApprover(entry, $event.value)"
              [disabled]="isLoadingOptions"
            >
              <mat-option [value]="null">Select approver</mat-option>
              <mat-option *ngFor="let option of approverOptionsFor(entry)" [value]="option.objectId">
                {{ option.displayName || option.objectId }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="approvers-cell approvers-cell--endorser">
          <mat-checkbox [checked]="entry.isEndorser" (change)="toggleEndorser(entry, !!$event.checked)">
            Endorser
          </mat-checkbox>
        </div>

        <div class="approvers-cell">
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>DOA</mat-label>
            <mat-select [value]="entry.delegateUserId" (selectionChange)="updateDelegate(entry, $event.value)">
              <mat-option [value]="null">No delegate</mat-option>
              <mat-option *ngFor="let delegate of availableDelegateOptions" [value]="delegate.objectId">
                {{ delegate.displayName || delegate.objectId }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="approvers-cell approvers-cell--actions">
          <button mat-icon-button color="warn" type="button" aria-label="Remove approver" (click)="removeEntry(entry)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-template #emptyState>
    <div class="empty-state">
      No approvers have been assigned to this report yet.
    </div>
  </ng-template>

  <button type="button" class="add-signer" (click)="addSigner()" [disabled]="isLoadingOptions">
    <span>Add Signer</span>
  </button>
</mat-dialog-content>
<mat-dialog-actions align="center" class="dialog-actions">
  <button mat-raised-button color="primary" type="button" (click)="save()" [disabled]="disableSave">
    Save
  </button>
  <button mat-stroked-button type="button" (click)="close()">Cancel</button>
</mat-dialog-actions>
